[2018-08-23 18:09] taylordowns2000 opened #5 "Confirm that next visit date is functioning in add new patient"

[2018-08-29 10:58] taylordowns2000 opened #6 "No "indices.parent.case_id" in update visit message"
To discuss with @katyf2190 , what's the difference between these two submissions (or case updates) coming from CommCare and what should we do with them in Salesforce?

- https://www.openfn.org/projects/419/messages/3025449/power - this has no related case `indices.parent.case_id` on line 48
- https://www.openfn.org/projects/419/messages/3044671/power - this HAS a related case, and runs properly. (

[2019-12-06 14:46] aleksa-krolls opened #11 "Transformation needed to match SF picklist values"
https://github.com/OpenFn/Miracle-Feet/blob/11566458ad71a16cceec9865ccc33246558fb275/update_patient_UPDATED.js#L93

@Haileynleon I'm checking this out per your email!

[2020-06-02 18:58] Haileynleon opened #18 "Add Location Level"
https://github.com/OpenFn/Miracle-Feet/blob/4fafdfadd8156f41fc038152083b391fc7b5e008/add_new_patient__UPDATED.js#L60

@aleksa-krolls Can you add a line here for Location Level 1 Other:

field('Location_Level_1_Other__c', dataValue('form.case.update.location_level1_other')),

You can find this in OpenFN Message #8688128 Line 103

[2020-06-02 18:59] Haileynleon opened #19 "Add Location Level 1 Other"
https://github.com/OpenFn/Miracle-Feet/blob/4fafdfadd8156f41fc038152083b391fc7b5e008/update_patient_UPDATED.js#L57
@aleksa-krolls Can you add a line here for Location Level 1 Other:

field('Location_Level_1_Other__c', dataValue('form.case.update.location_level1_other')),

You can find this in OpenFN Message #8688128 Line 103

[2020-06-02 19:00] #5 closed

[2020-06-02 19:00] #6 closed

[2020-06-02 19:00] #11 closed

[2020-06-02 19:06] #18 closed

[2020-06-02 19:06] #19 closed

[2020-06-02 19:12] Haileynleon opened #22 "Map new number fields"
https://github.com/OpenFn/Miracle-Feet/blob/4fafdfadd8156f41fc038152083b391fc7b5e008/update_patient_UPDATED.js#L182

@aleksa-krolls Can we add new mapping for the following number fields? I have Open FN message lines for all of these, please let me know if you want them.

field('R_First_Brace_Pirani_Score__c', dataValue('form.case.update.r_first_brace_pirani_score')),
field('L_First_Brace_Pirani_S

[2020-06-03 13:51] #22 closed

[2020-11-09 12:09] aleksa-krolls opened #25 "Do not upload Salesforce data if state contains test CommCare username"
## Background
MiracleFeet uses OpenFn integrate CommCare and Salesforce for its connected health system. Sometimes when training new CommCare clinic users, users will log into test CommCare accounts and upload dummy data, which causes the Salesforce integration to fail because related records do not exist in Salesforce. To avoid having several OpenFn runs fail during these training sessions, we'd

[2020-11-12 10:32] #25 closed

[2020-11-13 09:52] aleksa-krolls opened #26 "RangeError [Error]: Invalid time value"
## Background
Related to MF's CommCare-to-Salesforce integration.

## Issue
I think we need to update the `dateConverter()` function to handle different date types. Salesforce supports the ISO date/time format. See [this run failure](https://www.openfn.org/projects/419/runs/10430750).

## State
See LP for `MiracleFeet MF India Sandbox`. Use [this message](https://www.openfn.org/projects/419/messag

[2020-11-16 12:17] ritazagoni opened #27 "Job to schedule SMSs on Infobip based on updates in CommCare"
## Background, context, and business value

Currently MiracleFeet uses OpenFn to integrate CommCare case updates and form submissions with Salesforce and CommCare to send SMSs to patients. They seek to lower their SMS transactions costs by expanding the existing OpenFn integration to also schedule SMSs in Infobip whenever a CommCare update is received.

- As a case worker, when I create or update

[2020-11-18 08:05] aleksa-krolls commented on #27
@lakhassane whenever ready to start on this one, @ritazagoni is happy to walk you through it... but this is the same project you were looped in with Infobip.

[2020-11-19 07:27] aleksa-krolls opened #28 "Change Visit Name transformation to ensure <80 characters"
## Background
Currently we concatenate different fields to build a custom Patient Visit `Name`... but for India patients, MiracleFeet is not capturing real names, but rather patient Ids (which are very long). This is causing the custom `Name` field values to exceed the Salesforce limit of 80 characters for old patients. See example run failure here: https://www.openfn.org/projects/419/runs/1049028

[2020-11-20 16:28] #26 closed

[2020-11-24 08:51] aleksa-krolls commented on #27
@lakhassane Whenever you get to start on this today, please advise on timelines for completion so that we can plan testing time accordingly.
cc @daissatou @ritazagoni

[2020-11-24 09:25] taylordowns2000 commented on #27
Bumped estimate from 3 to 8 hours—spent the afternoon yesterday defining technical specifications for the bulk Id requirement _before_ any work on the expression could begin.

[2020-11-25 11:27] aleksa-krolls commented on #27
@lakhassane status update please? We need to plan our testing and I need to prioritize accordingly, so please send a quick update every day - even if on slack cc @taylordowns2000 @ritazagoni

[2020-11-25 13:37] lakhassane commented on #27
@aleksa-krolls still on it. Prioritinz with the others issue. I was stuck on the API side and with the `bulkId` specifications.

Would you mind a meet chat for questions on it please? I think it will help better.

[2020-11-25 20:39] #28 closed

[2020-11-26 05:01] aleksa-krolls commented on #27
@lakhassane @taylordowns2000 @ritazagoni per Infobip's email, it sounds like they were able to replicate the API issue with fetching via `bulkId`. Keep you posted... but a good reminder to ask for help! We often can reach out directly to tool providers when things aren't working as expected and make them do some of the troubleshooting work :)

[2020-11-27 14:50] aleksa-krolls commented on #27
@lakhassane See below email from Shayne at Infobip. When scheduling SMSs... were we using a _future_ date when testing? When you have a chance, can you please try this out and let me know if it unblocks you to continue work on this request.

_Could you try actually setting the time at a future date? I ran a few API calls right now and it seems to make the difference. So push the date to even Decem

[2020-11-30 10:30] lakhassane commented on #27
@aleksa-krolls tests are successful. I made a sendAt far on december and I am able to get it and even reschedule.
I also tested using special chars as `-` and it's working. So we might be able to keep going on this.

[2020-11-30 10:31] aleksa-krolls commented on #27
@lakhassane Okay great, then please keep going. I will update state to show future dates.

If any blockers, let me and @ritazagoni know so we can help you work through these.

[2020-11-30 20:20] taylordowns2000 commented on #27
@lakhassane , apologies if you've already sent this in another channel, but I want to make sure that this is ready for @aleksa-krolls and @ritazagoni when they get to work tomorrow: *we've got two options for how to build & maintain the sms text mapping*.

That big old translation table in google sheets needs to be represented as a JSON object. It's got message `sequences` > `messages` > `language

[2020-11-30 21:39] aleksa-krolls commented on #27
@taylordowns2000 I honestly think both are tricky to manage and don't see a major different between the two.
Not sure what @ritazagoni thinks, but is it possible to do something like the below? Otherwise I worry it's too hard to know where the dynamic fields fit into the sentence, and I can see the client messing this up.
[code]
@lakhassane Also can you please provide an overall status update? Won

[2020-11-30 22:24] taylordowns2000 commented on #27
We could, but it would require regex. They would need to manually make sure
to adhere to a specific pattern and they messed it up there wouldn’t be a
simple way to detect it.

Mamadou, let’s discuss in the morning.

On Mon, Nov 30, 2020 at 21:39 Aleksa Krolls <notifications@github.com>
wrote:

[2020-12-01 06:10] aleksa-krolls commented on #27
Chatted with @ritazagoni ... let's go with Option 1 then for now... but if there's any middle ground approach that would make it easier on the client admins, let us know!

[2020-12-01 18:24] taylordowns2000 commented on #27
@ritazagoni , @aleksa-krolls , thanks for the help here today.

Status:
1.	Nothing needed from services right now.
2.	Mamadou has the job code working. Tomorrow morning we will attempt to create message and alert schedules data from that spreadsheet that Rita finished up today. I expect that will take the two of us about 2hrs. It could be possible to test around noon utc. You could test smaller pa

[2020-12-01 21:12] aleksa-krolls commented on #27
@taylordowns2000 thanks a ton for this status update.

@ritazagoni let's plan to get @daissatou involved with testing tomorrow!

[2020-12-02 06:54] taylordowns2000 opened #29 "Create corresponding JSON for Alerts & SMS Content"
Convert "Alerts" and "SMS Content" into job-usable JSON: https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit#gid=1959335211

[2020-12-02 07:35] aleksa-krolls commented on #27
@taylordowns2000 @lakhassane when the job is ready to test, can you please configure it in prod here and advise on what configuration should look like?
https://www.openfn.org/projects/419/jobs/3830

@ritazagoni Check out the trigger on that job, we will need to verify the CommCare values we can expect for state... e.g., I'm wondering if it should be `"sms_opt_in": "1"` (instead of "yes") - see thi

[2020-12-02 09:04] ritazagoni opened #30 "Update job to delete scheduled messages from Infobip if Treatment is Suspended or Completed"
## Background, context, and business value

Apart from scheduling and rescheduling messages as described in issue #27, job `schedule_sms.js` also needs to delete scheduled messages in Infobip when certain triggers are met.

For example: [wip...]

## The specific request, in as few words as possible

Job `schedule_sms.js` needs to delete previously scheduled messages from Infobip when triggers `sms

[2020-12-02 10:22] #29 closed

[2020-12-02 10:22] taylordowns2000 commented on #29
Closed with new files in `/mappings`

[2020-12-02 11:36] ritazagoni commented on #27
Right! Updated `"sms_opt_in": "1"` in https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit#gid=262234774 fyi @lakhassane

[2020-12-02 12:36] taylordowns2000 commented on #27
@ritazagoni , I know you've already been in touch with @lakhassane , but I wanted to document that this is now ready for testing :-)

[2020-12-02 16:17] ritazagoni commented on #27
@lakhassane we had a failed run https://openfn.org/projects/419/runs/10750769 on message https://openfn.org/projects/419/messages/10274332.

[2020-12-02 16:54] lakhassane commented on #27
@ritazagoni @aleksa-krolls I think we hit another blocker in here. There are some criteria that are exactly the same but required different `bulkId`. Could you please help in a way to make the difference please?

### LINE 24

[2020-12-02 17:10] aleksa-krolls commented on #27
@lakhassane So every 1 SMS that needs to be sent has a `bulkId` (1 `bulkId` for every 1 SMS alert).
Sometimes the _same_ criteria might trigger multiple SMSs to be sent (1 trigger to many SMSs)... therefore there are multiple `bulkId` created via 1 triggering action.

Real-world scenario: Patient comes into a client and enrolls in the `bracing_day` treatment --> they are then subscribed to a serie

[2020-12-02 19:30] lakhassane commented on #27
@ritazagoni @aleksa-krolls we find out that on different occassions the data we need to populate the sms content (`guardian_phone_number`, `guardian_first_name`,`patient_first_name`, ...) are not under the same object in the message received.

For registration case type we can have it under `update`
[code]

For other case tests (`bracing_day`), we have the data we need it under `case_properties`
[

[2020-12-02 21:31] aleksa-krolls commented on #27
@lakhassane Sounds like we may need to consider 2 jobs here as well as provide updated mapping specifications for the different merge fields. Please pause development until we can analyze state further and provide updated specifications.

Quick questions...
1. Is everything at least working on the Infobip side? (I want to make sure we have no questions for this team.)
2. Where can I look to see wh

[2020-12-02 21:36] lakhassane commented on #27
@aleksa-krolls
1. Yes everything is working api-side (infobip)
2. Exact. `content-output.json` will give it to you.
3.`Column N` will be more straightforward for development but a new column build only for path will be more clean so that we keep `live data` out of `text data`.

[2020-12-02 22:25] aleksa-krolls commented on #27
@ritazagoni see `3` for how we can build a map for the SMS merge fields...
`live data/ path in state`: `text data/ merge field`
`case.update.guardian1.first_name`: `case.guardian1_first_name`

[2020-12-03 10:32] taylordowns2000 commented on #27
@aleksa-krolls and @ritazagoni , Mamadou and I have full x-ray vision on the job and mapping right now. We've made some readability and logging changes but are quite happy with our ability to deliver on business logic laid out in line 23-36. (See below.)

I'm going to shift this to review/QA now. From our side, we need to know:

1. What "from" phone number we should send these messages from.
2. Ho

[2020-12-09 09:50] aleksa-krolls commented on #27
@taylordowns2000 @lakhassane We have updated specs coming your way. To address your latest feedback...
1. `from` sender phone numbers - @ritazagoni will provide
2. We have the new diagram to dictate the sending logic
3. `bulkId` will be unique for every alert (see column `M` in the master mapping document - e.g., `bracing_night_campaign-2...`, `bracing_night_campaign-3...`). We assume every 1 Mess

[2020-12-09 10:07] ritazagoni opened #32 "Update: Jobs to schedule SMSs on Infobip based on updates in CommCare"
## Background, context, and business value

See issue #27 for the original specs.

**Changes**

1. New versions of state for mapping and testing: [sample message 1](https://github.com/OpenFn/Miracle-Feet/blob/master/sample_data/patientRegistration_educationalMessage.json), [sample message 2](https://github.com/OpenFn/Miracle-Feet/blob/master/sample_data/newVisit_ReminderMessage.json)

2. Updated t

[2020-12-11 08:24] aleksa-krolls commented on #32
@lakhassane Please keep me posted on progress via Slack later today and if helpful to do a quick call this afternoon. Remember Rita is offline today, thanks!

[2020-12-14 12:07] ritazagoni commented on #32
@lakhassane On a first test https://github.com/OpenFn/Miracle-Feet/blob/master/schedule_sms.js had failed runs:
1. run: https://www.openfn.org/projects/419/runs/10878731 failed on message https://www.openfn.org/projects/419/messages/10393869.
2. run: https://www.openfn.org/projects/419/runs/10878936 failed on message https://www.openfn.org/projects/419/messages/10393864

[2020-12-15 10:53] ritazagoni commented on #32
@lakhassane A few more corrections for https://github.com/OpenFn/Miracle-Feet/blob/master/schedule_sms.js, run https://openfn.org/projects/419/runs/10888852 on message https://openfn.org/projects/419/messages/10393869

1. SMS #2 (`bulkId casting_intro-2-606562d6-c972-4f17-ad9c-7451ca920a1c` and  #3 (`bulkId casting_intro-3-606562d6-c972-4f17-ad9c-7451ca920a1c` are all scheduled to `now()`, should

[2020-12-16 11:33] ritazagoni commented on #32
@lakhassane Error in run https://openfn.org/projects/419/runs/10901496 on message https://openfn.org/projects/419/messages/10424440: The run hasn't scheduled any alerts even though `state` fulfilled triggers in https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?ts=5fd69d22#gid=262234774&range=D23 and should have scheduled https://docs.google.com/spreadsheets/d

[2020-12-16 12:26] ritazagoni commented on #32
@lakhassane The job is not setting next visit reminders. Example run https://openfn.org/projects/419/runs/10902057 on message https://openfn.org/projects/419/messages/10425100. In `state` `form.calcs.next_visit_date.next_visit_date` is filled as per https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?ts=5fd69d22#gid=262234774&range=112:112

[2020-12-16 13:39] ritazagoni commented on #32
@lakhassane run https://openfn.org/projects/419/runs/10902750 on message https://openfn.org/projects/419/messages/10425945 threw an error: `line 647`: `UnhandledPromiseRejectionWarning: Unhandled promise rejection.`
Could you please check?

[2020-12-17 11:12] ritazagoni opened #33 "Schedule multipe alerts in case of multiple values in `brace_problems_type`"
## Background, context, and business value

When scheduling alerts as per #32, we are currently expecting a single value in the `form.calcs.save.brace_problems_type` property. We need to handle multiple values and and schedule multiple alerts accordingly.

For example: If in `state` we have `form.calcs.save.brace_problems_type`: `child_not_tolerating family_not_accepting` we need to schedule alert

[2020-12-17 12:53] ritazagoni opened #34 "Schedule alert for missed appointments"
## Background, context, and business value

When a patient has not visited the clinic on their appointment date, we want to schedule an SMS alert to be sent 1 day after their missed appointment date. See alert type [#18](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit#gid=262234774&range=113:114) in the `Master Mapping Table`.

Every time a message arrives

[2020-12-28 07:54] ritazagoni opened #35 "Delete other scheduled treatment alerts if treatment changes"
## Background, context, and business value

As an extension of #32: Every patient is undergoing only one treatment any given time, but the treatment may change or is suspended/completed/stopped.

In case the treatment changes, we don't want the patient to receive alerts related to their previous treatment.

If the treatment is suspended, completed or stopped, we don't want the patient to receive a

[2021-01-04 05:59] aleksa-krolls commented on #30
@ritazagoni does issue #35 replace this? If yes, can we close this one?

[2021-01-04 06:00] aleksa-krolls commented on #32
@ritazagoni What is the status of this issue? I see the new issues #33 #34 and #35 for additional requests. Is everything else working so far? Can we close this one if so?

[2021-01-04 06:08] aleksa-krolls commented on #34
@ritazagoni Can you please recommend what should be the `trigger` in prod across these 3 versions of state? This will influence whether we request 1 or multiple jobs. FYI, currently for [Schedule SMS job](https://www.openfn.org/projects/pdbznd/jobs/jypnkm) we use `{"form":{"calcs":{"sms":{"sms_opt_in":"yes"}}}}`.

Then, how does this fit into the data flow diagram you created for the other alerts

[2021-01-04 06:09] aleksa-krolls commented on #27
Updated issue specs and feedback are now being tracked on #32

[2021-01-04 06:09] #27 closed

[2021-01-04 06:19] aleksa-krolls commented on #35
@ritazagoni Similar feedback as my comment on issue #34...
1. What should the trigger be on prod? (We'll need to consider if this is in the same job or a different one.)
2. Can you spend ~20 min on a new data flow diagram or extending the original one?
3. In this issue, you have a handful of requests like `Delete all scheduled messages for Alert 14, 15, 16`... should we delete using `bulkId`? It m

[2021-01-04 07:43] ritazagoni commented on #30
#35 is the new issue for the same requirement, closing this one.

[2021-01-04 09:14] aleksa-krolls opened #36 "Delete alerts if sms opt out preferences changed"
## Background, context, and business value

As an extension of #32 if a patient opts out of receiving SMS alerts, we need to delete the alerts already scheduled.

## The specific request, in as few words as possible
There are 3 scenarios here. See [data flow diagram](https://lucid.app/lucidchart/9454d9ca-7c35-482d-b9e9-0e41284d1281/edit?page=WVH3TRgl9gVf#).

**Add logic to 'schedule_sms.js' ...**

[2021-01-04 15:01] aleksa-krolls commented on #34
@lakhassane one more MF issue to take up today or tomorrow morning. There will be 1 more tomorrow AM as well. Let me and @ritazagoni know if any questions before you get started.

[2021-01-05 13:55] ritazagoni commented on #34
hey @lakhassane Run https://www.openfn.org/projects/pdbznd/runs/rn56r7bd on message https://www.openfn.org/projects/pdbznd/messages/mwb8v48a (Register New Patient form) didn't schedule an alert, please check!

[2021-01-06 20:05] lakhassane commented on #35
@aleksa-krolls @ritazagoni I have 2 questions in this:
1. Could the path for `original_treatment` be rechecked. It is not in the given path as per the request.
2. In `1.b` should we delete alerts `14, 15, 16` even IF `brace_problems_type` is not in the payload (this assume that those alerts were scheduled). Or read the value from the payload and delete that one (it can be only `alert 14` for examp

[2021-01-07 09:05] ritazagoni commented on #35
@lakhassane
1. We are updating the forms so that the path will be what's indicated in the issue. Please go by that even if you can't test with current state version of state.

[2021-01-08 03:07] ritazagoni commented on #35
@lakhassane I ran into an error in this run https://www.openfn.org/projects/pdbznd/runs/rn56deky on message https://www.openfn.org/projects/pdbznd/messages/mrb8pzd6

[2021-01-08 11:07] aleksa-krolls commented on #35
@lakhassane please update the job to handle scenarios where NO `original_treatment` is provided (see message here:  https://www.openfn.org/projects/pdbznd/messages/mrb8pzd6 ). In such scenarios, assume no treatment alerts need to be deleted... so you can skip this step and move onto the next step in the logic flow.

[2021-01-11 09:03] ritazagoni commented on #35
@lakhassane I confirm to handle no `original_treatment` this way. Please let us know if this is implemented

[2021-01-14 08:40] ritazagoni opened #37 "Bulk fetch forms from CommCare"
## Background, context, and business value

As an extension to #32. In case the client edits a case record in CommCare, no notification is sent to the OpenFn inbox so we are unable to schedule any relevant SMS-s. (This is similar to the Kobo issue where cleaned submissions are not pushed, so we need to fetch.)

Therefore we need to regularly `GET` cases from the previous month from CommCare and `P

[2021-01-14 11:09] ritazagoni commented on #35
@lakhassane state for `Mark Stopped Treatment` has changed, please see new sample [here](https://github.com/OpenFn/Miracle-Feet/blob/master/sample_data/newStoppedTreatment.json).

For scenario 2 in issue, please look for `form.close_reason != ""` instead of `form.properties.close_reason != ""`

[2021-01-18 09:21] aleksa-krolls commented on #35
@ritazagoni can you close any MF issues that are working now? Thanks!

[2021-01-18 10:53] ritazagoni commented on #35
hey @lakhassane there was an other failed run: https://www.openfn.org/projects/pdbznd/runs/rj5kk98n on message https://www.openfn.org/projects/pdbznd/messages/mqpqvqw4 could you check?

[2021-01-18 12:53] #33 closed

[2021-01-18 13:13] ritazagoni commented on #37
hey @lakhassane I tried to run this on prod but got an error https://www.openfn.org/projects/pdbznd/runs/raa33p4a could you help me debug - it might be an issue with how I set up the job

[2021-01-19 08:49] ritazagoni opened #38 "Only run schedule_sms.js job flow if username contains 'test'"
## Background, context, and business value

As the client is testing SMS scheduling, we want to check first in `schedule_sms.js` if in the forms `metadata.username` is a test account. We only want to run the entire job flow is it IS a test account and prevent scheduling SMSs for real clients. We will remove this logic before go-live.

## Request
Update `schedule_sms.js` so that it FIRST checks for

[2021-01-19 13:05] aleksa-krolls commented on #38
We're finding additional run failures, but not sure if it's related to this fix. See Rita's slack and below:
https://www.openfn.org/projects/pdbznd/runs/rrkawd85 on message https://www.openfn.org/projects/pdbznd/messages/mk5nej8r

[2021-01-19 13:10] ritazagoni commented on #35
hey @lakhassane  we have a few new failed runs with schedule_sms.js from the client's testing. this is one type: https://www.openfn.org/projects/pdbznd/runs/rrkawd85 on message https://www.openfn.org/projects/pdbznd/messages/mk5nej8r. could you check?

[2021-01-19 14:11] ritazagoni commented on #35
@lakhassane a different error here: https://www.openfn.org/projects/pdbznd/runs/r3xay7pm on https://www.openfn.org/projects/pdbznd/messages/mdba4vg5

[2021-01-19 16:14] aleksa-krolls commented on #35
@ritazagoni if nothing to be worked on now, I'm moving back to `Review/QA` until we look into this.

[2021-01-20 08:10] aleksa-krolls commented on #38
@ritazagoni Please close out any complete MF issues. We can always reopen if something pops up.

[2021-01-20 08:46] #38 closed

[2021-01-20 08:46] #36 closed

[2021-01-20 10:20] ritazagoni commented on #37
@lakhassane
Update on 2.b.:
We need to compare dates up to the minute. Currently job is matching entire timestamp. See for example run https://www.openfn.org/projects/pdbznd/runs/rx8wnzkp lines `403` and `405`:
`403` `"received_on": "2020-12-29T12:38:59.785052Z",
`404`   "resource_uri": "",
`405`  "server_modified_on": "2020-12-29T12:38:59.951811Z",

Should be posted to OpenFn inbox:
"received_on"

[2021-01-20 12:50] #37 closed

[2021-01-21 07:14] aleksa-krolls commented on #35
@lakhassane We're seeing some failures that I think are related to this logic handling. `TypeError [Error]: Cannot read property 'map' of undefined`.
https://www.openfn.org/projects/pdbznd/runs/rzdr7n5n
https://www.openfn.org/projects/pdbznd/runs/rj5kgnx5
https://www.openfn.org/projects/pdbznd/runs/rk57myj7
https://www.openfn.org/projects/pdbznd/runs/rrka4rp5
https://www.openfn.org/projects/pdbznd

[2021-01-21 12:11] lakhassane commented on #35
All runs are successful:
https://www.openfn.org/projects/pdbznd/runs/rwamern4
https://www.openfn.org/projects/pdbznd/runs/rzdrexzg
https://www.openfn.org/projects/pdbznd/runs/rn5974bn
https://www.openfn.org/projects/pdbznd/runs/rx8weaky
https://www.openfn.org/projects/pdbznd/runs/rzdrexzd

[2021-01-21 16:33] aleksa-krolls commented on #35
@lakhassane Another failure where `"language_code": "es"`... can we please convert all `language_code` values to lowercase before evaluating so that either `en` or `EN` will work? Thanks!
https://www.openfn.org/projects/pdbznd/messages/me66va6q

[2021-01-25 09:49] ritazagoni commented on #35
hey @lakhassane found a new failed run https://www.openfn.org/projects/pdbznd/runs/raa387m3 on message https://www.openfn.org/projects/pdbznd/messages/m8qqv48b

[2021-02-01 08:04] ritazagoni commented on #35
hey @lakhassane we ran into an error with canceling messages: failed run https://www.openfn.org/projects/pdbznd/runs/r5eamapm on message https://www.openfn.org/projects/pdbznd/messages/mk55dg68

[2021-02-01 09:41] lakhassane commented on #35
@ritazagoni the error has to do with the sms you are trying to cancel. That sms was already sent so you cannot cancel it.
<img width="256" alt="Screen Shot 2021-02-01 at 09 41 41" src="https://user-images.githubusercontent.com/8411231/106441227-b4109600-6471-11eb-886c-86f0ae5be4f6.png">

[2021-02-01 10:18] ritazagoni commented on #35
@lakhassane I see. The user scenario here is that after some SMS-s have been scheduled and sent the patient opts out of further messaging. Is there a way we can handle this by checking if a `bulk-id` has already been sent or if SMS that needs to be canceled was supposed to be scheduled for a past date?

[2021-02-03 18:35] aleksa-krolls opened #41 "Person operation not successfull"
## Describe the bug
See Github comment here: https://github.com/OpenFn/Miracle-Feet/commit/5c331b712353976ab261ca21067c54d1d6204c15#commitcomment-46710308

## expression
add_new_visit__UPDATED.js

[2021-02-08 08:19] #41 closed

[2021-02-08 08:20] aleksa-krolls commented on #35
@ritazagoni do we have any ready-to-go SMS feedback/ can we close this issue?

[2021-02-08 09:06] #35 closed

[2021-02-22 14:54] ritazagoni opened #42 "Adjust SMS schedule time based on time zone from state"
## Background, context, and business value

When scheduling SMS messages, we need to schedule them taking into account the recipient's time zone.

## The specific request, in as few words as possible

Check `form.calcs.sms.time_zone` in `state`. Adjust scheduling time by appending `time difference` for that time zone based on the time zone/time difference mapping [here](https://docs.google.com/spr

[2021-02-23 17:49] lakhassane commented on #42
Hey @ritazagoni @aleksa-krolls why this line in here `if current schedule time is 2021-02-01T07:47:45.777`.
In state schedule date is in this format: `"next_visit_date": "2020-12-24"`.
Should I still add the timezone. I guess yes, but I just want to confirm that line above is not constraining anything I'm not aware of.

[2021-02-24 08:26] ritazagoni commented on #42
hey @lakhassane We need to add time zone to the specific time we are scheduling the message for in the job. Currently the format we're using for `sendAt` is ` sendAt: '2021-01-13T09:10:00.000Z'` which is set in `schedule_sms.js` here: https://github.com/OpenFn/Miracle-Feet/blob/97012e72b3c0b5a5db5208a855bf6e434781432c/schedule_sms.js#L535-L552

We need to add the time zone difference to that times

[2021-02-24 10:43] ritazagoni commented on #42
@lakhassane got `Invalid time value` in run https://www.openfn.org/projects/pdbznd/runs/rn5ae3ka on message https://www.openfn.org/projects/pdbznd/messages/mgkkke7v

[2021-02-24 10:59] aleksa-krolls opened #43 "TypeError [Error]: combine(...)(...)"
## Describe the bug
See the run failure here: https://www.openfn.org/projects/pdbznd/runs/rrkw9ywe

Recent success where LP and Core version look the same:
https://openfn.org/projects/pdbznd/runs/r5ezymjw

## To Reproduce
Feel free to re-run the job against this Message in prod: https://www.openfn.org/projects/pdbznd/messages/mn5kgdj7

### expression.js
https://github.com/OpenFn/Miracle-Feet/blob/

[2021-02-24 11:15] ritazagoni commented on #42
@lakhassane Looks like we are adding 1 second instead of [1 hour](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit#gid=774472213&range=19:19)
in this run https://www.openfn.org/projects/pdbznd/runs/r3xy7kze on message https://www.openfn.org/projects/pdbznd/messages/mwb83aja
See lines `39-44` and [required schedule time (10am)](https://docs.google.com/spreads

[2021-02-24 14:18] lakhassane commented on #43
@aleksa-krolls I re-run a failed run for `add_new_visit` with success (https://openfn.org/projects/pdbznd/runs/r9war66j)
Would you check on your side and let me know.

[2021-02-24 14:24] #42 closed

[2021-02-24 14:25] aleksa-krolls commented on #43
@lakhassane Thanks! passing now in my checks as well. What has changed to make it work?

[2021-02-24 14:25] #43 closed

[2021-02-24 14:26] lakhassane commented on #43
Nothing has changed actually. Im still lost about what happened.

[2021-02-24 18:30] aleksa-krolls opened #44 "SMS alerts disabling: TypeError [Error]: Cannot read property '@case_id' of undefined"
## Background, context, and business value
`TypeError [Error]: Cannot read property '@case_id' of undefined`
See run failure: https://www.openfn.org/projects/pdbznd/runs/r9warkgr

Doesn't look like we're passing `case_id` properly... looks like SMS opt-in preferences came in as `no`, so we wan't to make sure no alerts go out.

## state.json
Feel free to re-run this message on prod: https://www.ope

[2021-03-10 07:21] aleksa-krolls commented on #44
@ritazagoni hey this was something I saw pop up a few days ago and forgot to mention. Can you check this out sometime this week?

[2021-03-10 07:26] aleksa-krolls opened #45 "Visit run shows false success"
## Describe the bug
OpenFn logs a successful run, but this data is not showing up in Salesforce.
https://www.openfn.org/projects/pdbznd/runs/r9w6k93a

I think this came up before already for this job, and I thought we had resolved this - see issue #41. This has definitely come up before in other Salesforce implementations.

## To Reproduce
Feel free to re-run the job on prod, or use the related Me

[2021-03-10 12:05] ritazagoni commented on #44
I think there's 2 things going on here.

@lakhassane
The source of the error is that `case_id` is now under
[code]
while it used to be

[code]

Please update `schedule_sms.js` so that it looks for `case_id`  on both the above paths.

@aleksa-krolls Let's see how it works once this is fixed and we can revisit the logic as needed.

[2021-03-12 12:32] lakhassane commented on #44
@ritazagoni this has been corrected.

[2021-03-12 13:12] #44 closed

[2021-03-15 12:10] lakhassane commented on #45
@aleksa-krolls this should be ok as soon as we clear out https://github.com/OpenFn/language-salesforce/pull/19 on `language-salesforce`as they are tighly related.

And yes we might need to update some of the jobs that are usinge `combine` currently.

[2021-03-16 08:58] aleksa-krolls commented on #45
@lakhassane I want to make sure this issue is not lost, so I'm going to move this back to the backlog. Can you let me know when that pull request is merged and can you re-run the example I shared to verify it will fail?
(I imagine this means there are several records not getting synced to Salesforce right now, and this worries me that there are data gaps growing with each day.)

[2021-03-16 10:07] lakhassane commented on #45
@aleksa-krolls check here: https://www.openfn.org/projects/pdbznd/runs/r9w6pwmd

We are throwing an error like we are supposed to

[2021-03-16 18:48] aleksa-krolls opened #47 "JSON Message too big, please help me chunk this & re-post to OpenFn Inbox"
## Background, context, and business value
MF India team posted too large of a payload to OpenFn, causing OpenFn to throw a memory limit part way through processing. See Message here: https://www.openfn.org/projects/pde3z9/messages/mj4p7jvr

Can you please help me (1) split up the JSON Message into smaller payload sizes, and then (2) repost these smaller payloads to the OpenFn Inbox?
https://www.o

[2021-03-21 12:25] #45 closed

[2021-04-07 04:08] aleksa-krolls opened #49 "If India patient, skip update"
## Background, context, and business value
CommCare automation is triggering old India case data to be re-sent to OpenFn, but these cases don't have all the required info needed for the integration.... so there are a lot of run failures surfacing.

## The specific request, in as few words as possible
Similar to [L129](https://github.com/OpenFn/Miracle-Feet/blob/master/update_visit__UPDATED.js#L129

[2021-04-07 16:20] #49 closed

[2021-04-26 13:15] ritazagoni commented on #34
hey @lakhassane
in this run https://www.openfn.org/projects/pdbznd/runs/r6g67bxw on message https://www.openfn.org/projects/pdbznd/messages/mqp4pvjz we are setting the `visitAfter-1` message `bulkId` as `visitAfter-1-12c36dd7-9a97-44cb-bfb6-83ce86d5840d-undefined` instead of `visitAfter-1-12c36dd7-9a97-44cb-bfb6-83ce86d5840d-2021-03-12` (based on `form.calcs.general.next_visit_date`, according to

[2021-04-26 13:24] ritazagoni commented on #34
@lakhassane related error: in run https://www.openfn.org/projects/pdbznd/runs/ryaxpzxw for the same patient, on message https://www.openfn.org/projects/pdbznd/messages/mpqdqnzn we are running into an error from Infobip: not finding the bulkId `bulkId=visitAfter-2-12c36dd7-9a97-44cb-bfb6-83ce86d5840d-2021-03-17` where `2021-03-17` is the newly set `next_visit_date`.

I've added docs for this schedu

[2021-04-26 15:37] lakhassane commented on #34
@ritazagoni For you first comment, the `undefined` is for `last_visit_date`actually. We first build the `bulkId` with that one and check to see if any sms exist. If none that's when we schedule a new sms with `next_visit_date` (you can see in the run that new `bulkId` is set correctly, line 72).

I don't see `last_visit_date` in the sample data, reason why we are having this `undefined`.

[2021-04-26 15:55] lakhassane commented on #34
@ritazagoni for your second comment, I made the correction. You can try re-running that same sample data to check.

[2021-04-28 09:05] ritazagoni commented on #30
hey @lakhassane  in this run https://www.openfn.org/projects/pdbznd/runs/r7x49m44 on message we want to cancel scheduled messages as treatment is set to `suspended`. However we are trying to cancel some of them twice (from `line 27`:
[code]

And I think that's why the request to Infobip  fails  (`line 210`) as we are trying to cancel a message twice:
[code]

[2021-04-28 14:27] ritazagoni commented on #32
In run https://www.openfn.org/projects/pdbznd/runs/r5eg3mpg on message https://www.openfn.org/projects/pdbznd/messages/mpqdqnb5
we’re setting the `bulkId` `bracing_intro-2-c70bc68a-2e94-4072-b06c-08143013b33f` to be sent at
2021-03-12T05:33:12.055Z

Then in run https://www.openfn.org/projects/pdbznd/runs/rk5b86m3 on message https://www.openfn.org/projects/pdbznd/messages/m58qdmw8 a week later let

[2021-04-28 15:07] ritazagoni commented on #34
This looks good, thanks @lakhassane .

There is also a duplication issue with the `visitAfter` messages, some messages are scheduled and sent twice.

Looking at these two runs for the same case:
Run 1: https://www.openfn.org/projects/pdbznd/runs/rbgy84ba
[code]

We’re setting these `bulkId`-s twice:
`visitAfter-1-1100a33e-20ad-4cc5-911c-3631a5f2d2bf-2021-03-25`
`visitAfter-2-1100a33e-20ad-4cc5-911

[2021-04-29 15:01] aleksa-krolls opened #50 "HTTP job suceeds when 1 of the PUT requests Fail"
## Describe the bug
See example run that succeeds even though there are failures: https://www.openfn.org/projects/pdbznd/runs/rmkx7p7y
See related Slack thread: https://openfn.slack.com/archives/G2LJCFFDW/p1619689561008600

## To Reproduce
Feel free to re-run: https://www.openfn.org/projects/pdbznd/runs/rmkx7p7y

### expression.js
`schedule_sms.js`

### state.json
See LP for `Infobip Portal`

## E

[2021-04-29 15:18] lakhassane commented on #50
@aleksa-krolls corrections has been made so you are free to test. However, did not check the reason the scheduling is failing yet. Probably a conflit with the target resource (`409`).

[2021-04-29 15:19] lakhassane commented on #30
@ritazagoni yes there were a logic error that add the same alerts twice in the array. You can re-test and let me know.

[2021-04-30 16:14] lakhassane commented on #32
@ritazagoni could this error be due to the fact that the date is passed? Can we get an sms once it is already sent?

[2021-05-03 08:57] ritazagoni opened #51 "Update SMS schedule times and text"
## Background, context, and business value

See issue #32 for latest version of original specs.

## The specific request, in as few words as possible

The time and text for some of the alerts has been updated, see version [Mapping Table -Edited v0305](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?ts=606433e3#gid=179313688) of the mapping sheet. Please rep

[2021-05-03 09:53] ritazagoni opened #52 "Only schedule SMS-s within a specified time window"
## Background, context, and business value

See #32 for latest version of original specs.

## The specific request, in as few words as possible

We sometimes scheduled messages to be sent out during the night based on the incoming CommCare form submission times. We want to make sure that we only schedule SMS-s from 8am to 8pm local time in each time zone.

**Check when, in local time, a message wo

[2021-05-03 09:55] ritazagoni commented on #52
@lakhassane Before digging into implementation could you give us an estimate for this?

[2021-05-03 10:59] lakhassane commented on #52
@ritazagoni should we always schedule at 8am if the local sending time is out of the range 8am-8pm?

[2021-05-04 06:54] aleksa-krolls commented on #50
Thanks @lakhassane ... @ritazagoni will take a closer look at the failures.

[2021-05-04 06:54] #50 closed

[2021-05-04 07:26] ritazagoni commented on #52
@lakhassane I wasn't specific enough: if, in local time a message would be sent between 8pm and 8am, use 8am as [schedule start date](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?ts=606433e3#gid=179313688&range=F:F) for that message

[2021-05-04 09:19] ritazagoni commented on #52
If the estimate for implementing this is less than 4 hours, please go ahead with it.

[2021-05-04 13:55] lakhassane commented on #52
@ritazagoni it's good for testing

[2021-05-05 07:27] #30 closed

[2021-05-05 07:27] aleksa-krolls commented on #51
@lakhassane did you mean to move these issues to `Review` or in `Backlog`? We're confused about that's done cc @ritazagoni

[2021-05-05 09:09] ritazagoni commented on #32
@aleksa-krolls This is the duplicate issue referenced in https://docs.google.com/document/d/1gY--jnX6e_sXSCOnFOJ3sVnrWhE-i_pd64reQSCrNwc/edit#. Next step would be to check whether we can find past scheduled and sent messages on Infobip API when querying for scheduled messages. It might be the case that we can't see past messages so we schedule them again.

[2021-05-07 06:10] aleksa-krolls opened #53 "Add criteria check to stop duplicate intro SMSs from being sent"
## Background, context, and business value

See issue #32 for latest version of original specs. The client is reporting that duplicate SMSs are being sent for the different intro messages. We think it's because...
- Patient will come

## The specific request, in as few words as possible

The time and text for some of the alerts has been updated, see version [Mapping Table -Edited v0305](https://do

[2021-05-07 06:59] aleksa-krolls opened #54 "Disable alerts only if `original_treatment` !== `treatment`"
## Request
Disable alerts only if `treatment` has changed. Sometimes the CommCare form state will show the property `original_treatment` even when `treatment` has not changed from the original: https://www.openfn.org/projects/pdbznd/messages/m58qdmw8

If treatment is the same, no need to disable alerts.

## expression
Current expression looks like it disables the alert if the `original_treatment`

[2021-05-07 07:38] aleksa-krolls opened #55 "Infobip throws `409` error if we try to cancel already sent SMSs"
## Describe the bug
See issue #32 for the latest specs.
On `2021-04-14` we scheduled the SMS `casting_intro-5-2925e24d-5d75-4387-8216-11edb2aeacf6`
See run: https://www.openfn.org/projects/pdbznd/runs/rzd759jr

Later on `2021-05-04` we try to disable the SMS `casting_intro-5-2925e24d-5d75-4387-8216-11edb2aeacf6`
See run: https://www.openfn.org/projects/pdbznd/runs/r9wxn97n

However, by now this SM

[2021-05-07 11:02] aleksa-krolls commented on #54
@taylordowns2000 Would you feel comfortable taking this on? I don't have time today to really walk you through it, so let's leave this for Mamadou if not very clear what the issue might be.

[2021-05-07 13:43] lakhassane commented on #54
@aleksa-krolls I made the changes on this one.
Solving the issue with the language-code but not related.

[2021-05-07 16:58] lakhassane commented on #53
@aleksa-krolls I made changes for this one.

[2021-05-10 08:04] ritazagoni commented on #32
New separate issue for querying/modifying sent SMS-s in Infobip: https://github.com/OpenFn/Miracle-Feet/issues/55

[2021-05-10 08:04] #32 closed

[2021-05-10 08:23] #51 closed

[2021-05-10 08:48] ritazagoni commented on #53
Fixed. [Run](https://www.openfn.org/projects/pdbznd/runs/rpdymjdg) on original [message](https://www.openfn.org/projects/pdbznd/messages/m58qdmw8) doesn't trigger `bracing_day` again.

[2021-05-10 08:59] ritazagoni commented on #54
Fixed. [Run](https://www.openfn.org/projects/pdbznd/runs/rpdymjdg) doesn't disables messages for `original_treatment` which is the same as `treatment` in this [message](https://www.openfn.org/projects/pdbznd/messages/m58qdmw8).

[2021-05-10 08:59] #54 closed

[2021-05-10 14:09] ritazagoni commented on #55
Resolved with https://www.openfn.org/projects/pdbznd/runs/ryaed757

[2021-05-14 11:30] aleksa-krolls commented on #55
@lakhassane @ritazagoni I'm not sure this issue has been resolved. See run failure from this morning: https://www.openfn.org/projects/pdbznd/runs/rn5783py

[2021-05-14 13:38] lakhassane commented on #55
@ritazagoni corrected also for rescheduling

[2021-05-17 07:55] ritazagoni commented on #55
hey @lakhassane thanks. we're almost there. out of the 3 recent failures, 2 pass and 1 still fails with `conflict` from Infobip.
Resolved:
1. message https://www.openfn.org/projects/pdbznd/messages/mn57kbzq (successful [run](https://www.openfn.org/projects/pdbznd/runs/rwapj6m8) )
2. message https://www.openfn.org/projects/pdbznd/messages/mwbg9ga5 (successful [run](https://www.openfn.org/projects/p

[2021-05-17 10:38] lakhassane commented on #55
@ritazagoni corrections done!

[2021-05-17 14:02] ritazagoni commented on #55
Resolved, successful run: https://www.openfn.org/projects/pdbznd/runs/rzdkdw6m

[2021-05-17 14:02] #55 closed

[2021-05-17 14:15] aleksa-krolls opened #56 "Age_Months_First_Brace__c integer field outputting `0` value in Salesforce"
## Describe the bug
I'm stumped... I've modified the job `update_patient_UPDATED.js` to send an empty string `''` or blank value to Salesforce whenever CommCare doesn't send us age data (so CommCare will either send a `""` or `0`)...
https://github.com/OpenFn/Miracle-Feet/blob/96a9e4d1c3116a98a43b2f62af22ea2ae6899716/update_patient_UPDATED.js#L102-L107

I think I implemented this check correctly i

[2021-05-18 14:58] lakhassane commented on #56
corrected with last commit

[2021-05-21 09:30] aleksa-krolls opened #57 "Job to get `app_status` report from CommCare"
## Background, context, and business value
The client wants to pull CommCare user stats last `LastLogin` into Salesforce for monitoring of clinic workers. I'm struggling to fetch this data via the API when I try this... can you help me to create a job that pulls data from this CommCare report into the OpenFn Inbox?

## The specific request, in as few words as possible
Here is the `app_status` Comm

[2021-05-24 06:10] aleksa-krolls commented on #57
@lakhassane as discussed, I will discuss with the client to explore other options as `app_status` cannot be accessed via the CommCareHQ Reports API.

[2021-05-24 06:10] #56 closed

[2021-05-25 07:36] aleksa-krolls opened #58 "RangeError [Error]: Invalid time value"
## Describe the bug
See run failure here: https://openfn.org/projects/pdbznd/runs/rpdej959
Feel free to re-run on prod. Add handling for undefined values as needed.

### expression.js
https://github.com/OpenFn/Miracle-Feet/blob/master/update_patient_UPDATED.js

### state.json
See LP for `MiracleFeet Salesforce Production`
https://openfn.org/projects/pdbznd/messages/me65nkvb

[2021-05-25 15:40] lakhassane commented on #58
@aleksa-krolls the problem here is with the data I think.
Look how we have month = 24 in here
[code]

[2021-06-01 09:31] aleksa-krolls commented on #58
@lakhassane This is happening again, but the date format looks ok... any other ideas? https://openfn.org/projects/pdbznd/messages/mz733b7g
https://openfn.org/projects/pdbznd/messages/m95wwq5g

[2021-06-01 11:11] lakhassane commented on #58
@aleksa-krolls there is still invalid format
`"date_tenotomy": "29-07-2020",`written like this instead of `year-month-day`

[2021-06-01 14:47] #58 closed

[2021-06-07 16:50] ritazagoni opened #59 "Update scheduling of `registration-1` messages"
## Describe the bug
See issue #32 for the latest specs.

Currently for all alerts if the SMS would be sent before 8am local time, we modify the sending hour to 8am. So for example if a message would be sent at 7.40am local time, it will sent at 8.40am local time.

We now need to change this logic for *one alert only*: in case of SMS with `bulkId` `registration-1-{form.case.case_id}`, if the messag

[2021-06-08 15:11] ritazagoni opened #60 "We're checking for wrong `bulkId` when checking if `visitAfter` message is scheduled"
## Describe the bug

See issue #32 for the latest specs.

We received this message on 13 May https://www.openfn.org/projects/pdbznd/messages/ma9r48wv which includes a `next_visit_date` for 20 May. `visitAfter` messages should have this `bulkId`: `visitAfter-1-{caseId}-2021-5-20` and `visitAfter-2-{caseId}-2021-5-20`. Instead when checking if `visitAfter-1` and `visitAfter-2` SMS-s have already bee

[2021-06-08 15:25] ritazagoni opened #61 "We're sending `treatment_complete` messages twice"
## Describe the bug
See issue #32 for the latest specs.

If a treatment is completed, the `treatment_complete` alert is pushed twice to `alertsToSend`. I think [here](https://github.com/OpenFn/Miracle-Feet/blob/1acab3d8e15a2e6cb583f02c0ae62ca6dd627208/schedule_sms.js#L259) and also [here](https://github.com/OpenFn/Miracle-Feet/blob/1acab3d8e15a2e6cb583f02c0ae62ca6dd627208/schedule_sms.js#L295-L296

[2021-06-09 07:40] aleksa-krolls commented on #59
@ritazagoni fyi, I moved all other issues to backlog except for this one... let's confirm date/time scheduling logic with MF later today.

[2021-06-09 08:29] ritazagoni commented on #59
perfect, thanks @aleksa-krolls!

[2021-06-09 13:58] lakhassane commented on #60
hmm hey @ritazagoni about this one, I think there were a previous spec that says if we need to schedule alert for `visitAfter`to check` last_visit_date`. I think that's why you are seeing that bulkId before we schedule for `next_visit_date`

[2021-06-09 14:02] lakhassane commented on #60
see here https://github.com/OpenFn/Miracle-Feet/issues/34
Point **2**, where we asked to check those and disabled them before scheduling new

[2021-06-09 14:10] lakhassane commented on #61
You're right @ritazagoni and thanks for flagging the exact line to look at :D.
I made the corrections

[2021-06-09 15:17] lakhassane commented on #59
@ritazagoni I made the change for this one. However, Im unable to test. Seems like the sms are already scheduled or sent

[2021-06-10 10:27] lakhassane commented on #34
@ritazagoni I implemented this new logic. Let me know when testing for assistance.

[2021-06-10 13:11] aleksa-krolls opened #62 "Report on # of Messages in a failed state"
## Background, context, and business value
The client is trying to setup systems to better monitor user activity in CommCare, OpenFn error rates, etc. From MF:
[code]

## The specific request, in as few words as possible
Two things..
1. Metabase report on # of Messages in a failed state (grouped by receipt `inserted_at` date). To clean up the numbers in this report, and re-label the columns `0` an

[2021-06-10 13:12] aleksa-krolls commented on #62
@taylordowns2000 I added what we discussed this morning to the backlog!

[2021-06-11 14:41] ritazagoni commented on #34
Thanks @lakhassane  Just tested: in run https://www.openfn.org/projects/pdbznd/runs/renw6jm3 on message https://www.openfn.org/projects/pdbznd/messages/mrbrn8k8 we are scheduling the `visitAfter` messages using the wrong bulkId which has `last_visit_date` (`visitAfter-2-8c9efe99-deb6-44c0-97c9-56296100b2d4-2021-06-10`). However the date we are scheduling the message for is correct: it's for `next_

[2021-06-11 16:21] lakhassane commented on #34
ahh yeah I think it's normal @ritazagoni . I should add more log so it get more clear.
What happens is we check last_visit_date (point 2) and also next_visit_date (point 3). Let's schedule 10mn on Monday so I can walk you through the logic.

[2021-06-12 07:54] taylordowns2000 commented on #62
Wanted to get this documented here:

1. https://analytics.openfn.org/question/293 - this is now working. it's got the same filters as before and shows 58 rows
2. and this exlcudes `%uplicate%` and shows 28: https://analytics.openfn.org/question/337

Something like it would certainly be possible—would we want to get hard numbers and then upload those numbers to a custom object with integer fields?

[2021-06-14 10:56] lakhassane commented on #34
@ritazagoni I added the logs

[2021-06-14 11:32] ritazagoni opened #63 "Improve `schedule_sms.js` logs"
## Request

For more clarity for debugging, please update the logs in `schedule_sms.js`:
1. When `POST`-ing to Infobip, do we get a message ID back? Or other info in the response? If so, let's log that ID in the job so that we can more easily compare our logs with Infobip's.
2. Currently it's hard to tell which log line correspond to which SMS. Let's update logging with a clear `---SMS START--- ..

[2021-06-14 12:24] ritazagoni opened #64 "`bracing_day` SMS-s not scheduled"
## Describe the bug
In run https://www.openfn.org/projects/pdbznd/runs/rpdymjdg on the incoming message https://www.openfn.org/projects/pdbznd/messages/m58qdmw8  properties:
[code]
and
[code]
we should have scheduled both `12 - Not Tolerating Brace`, `06 - Bracing Introduction` and `07 - Bracing All Day Campaign`. However, we did not schedule  `06 - Bracing Introduction` and `07 - Bracing All Day

[2021-06-14 13:04] #34 closed

[2021-06-14 13:38] lakhassane commented on #63
@ritazagoni unfortunately infobip only returns the `bulkId`when successfull which we already have.
However, I add more logs and separated them into sections. see here: https://www.openfn.org/projects/pdbznd/runs/rmkdb5p5

[2021-06-14 14:40] aleksa-krolls commented on #52
@lakhassane @ritazagoni and I are finding that if, for example, we receive a CommCare form in the afternoon... we're trying to scheduling the message for a time earlier that day... rather than 9am the next day.

See run here for a registration form that we received on `2021-05-12T09:54:55.787Z` ... this is after 9am... but we're scheduling the message to send at a time in the past `2021-05-12T09:0

[2021-06-14 15:02] lakhassane commented on #52
@aleksa-krolls @ritazagoni this might trigger another. Because if we decide to move the sms of today for tomorrow (june 15) at 9am, we might probably already had sms scheduled that day 15 for the same hour. Which is messing up with the schedule date of all sms's

[2021-06-14 18:00] lakhassane commented on #52
@ritazagoni @aleksa-krolls so I made the change as we were supposed to. Feel free to re-run and check new logs

[2021-06-15 10:56] lakhassane commented on #64
Hey @ritazagoni I think it's quite normal.
The condition to send those red alerts (`bracing_XXX`) was that `original_treatment !== treatment` which is not the case in this form.

Check the section **Request** in those specs where it is explained: https://github.com/OpenFn/Miracle-Feet/issues/53

[2021-06-15 13:58] ritazagoni commented on #52
hey @lakhassane we've decided to change the Schedule Start Date of some of the messages. Please find the updated SSD-s [here](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?ts=606433e3&pli=1#gid=262234774) (I have highlighted the changes in this [sheet](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?ts=606433e3&pli

[2021-06-15 14:00] ritazagoni commented on #64
thanks @lakhassane !

[2021-06-15 14:00] #64 closed

[2021-06-15 14:03] ritazagoni commented on #59
Handled in #52

[2021-06-15 14:03] #59 closed

[2021-06-15 14:04] #63 closed

[2021-06-16 12:54] lakhassane commented on #52
@ritazagoni I update the mapping object accordingly.

[2021-06-16 13:20] #52 closed

[2021-06-16 13:28] ritazagoni commented on #34
bulkId issue fixed see https://www.openfn.org/projects/pdbznd/runs/renw7xxd

[2021-06-23 11:31] ritazagoni opened #65 "If a run fails because of an empty field, let's log the field name"
## Describe the bug
When a run fails due to an empty field in state, we log the error `Cannot read property 'map' of undefined`.  Let's log the field that we were expecting to have a value and caused the run to fail.
Fields to check:
`form.calcs.sms.time_zone`

If time_zone is undefined OR null, then throw an error and log the message: `SMS automation failed because the field time_zone is missing

[2021-06-23 12:27] aleksa-krolls commented on #65
@ritazagoni It is going to be a lot of work for Mamadou to check _any_ field... so I think we need to be specific about which fields to check for before running the job. For example, we can change this issue to be like...
If `time_zone`, `language_code`, or `X` are undefined OR null, then throw an error and log the Message `SMS automation failed because the field `{X}` is missing from the CommCare

[2021-06-23 13:42] ritazagoni commented on #65
Thanks! Updated and added to backlog.

[2021-06-24 15:09] lakhassane commented on #65
Hey @ritazagoni for this one I think the failure is not due to timezone (no timezone would just send the sms right away without applying an offset) but it's because of `language_code`.
The message has `en` for code while previous specs was using `English`

[2021-06-28 13:49] ritazagoni commented on #65
Ah thanks for that @lakhassane . It was because our first option to use, `sms_language`, is empty. I've removed `language_code` altogether because it's in the wrong format and kept `English` as the fallback option.

[2021-06-28 13:49] #65 closed

[2021-07-13 07:41] ritazagoni opened #66 ""Invalid time value" error"
## Describe the bug
This [run](https://www.openfn.org/projects/pdbznd/runs/ryapm3kj) on [this](https://www.openfn.org/projects/pdbznd/messages/mmqnbg8w) message failed with the error: `RangeError [Error]: Invalid time value`.
[Here's](https://www.openfn.org/projects/pdbznd/runs/rg5gya48) another example for the same error message.

Time zone is correctly filled and I haven't found any non-standard

[2021-07-13 10:17] lakhassane commented on #66
@ritazagoni the timezone was set in state but was not in the mapping object in the job then returning `undefined`.
We have `"time_zone": "Asia/Manila"`, however I don't recall seeing the time value for this zone in the specs. Can you add it whenever available at line https://github.com/OpenFn/Miracle-Feet/blob/master/schedule_sms.js#L78

I made a check to not map the timezone when undefined so the

[2021-07-14 07:47] aleksa-krolls commented on #66
@ritazagoni make sure to reprocess failed SMSs!

[2021-07-14 07:56] #62 closed

[2021-07-14 08:33] ritazagoni commented on #66
thanks both.

[2021-07-14 14:06] lakhassane commented on #66
Hey @ritazagoni we might be seeing this because we have two paths given for next_visit_date when we need to schedule `visitAfter` ==> ` form.calcs.general.next_visit_date`  and `form.calcs.next_visit_date.next_visit_date`

The first one doest not exist in the state, and the second one is empty. I assume the same thing happened for the second failing run.

<img width="393" alt="Screen Shot 2021-07-

[2021-07-15 12:39] aleksa-krolls commented on #66
From the client @ritazagoni to spec next week...
If `next_visit_date` is blank, we will only NOT send visit reminders (because there is no upcoming visit - treatment is complete).

[2021-07-19 08:12] #66 closed

[2021-07-19 08:18] ritazagoni opened #67 "If `next_visit_date` is missing or empty, don't schedule visit reminders"
## Background, context, and business value

Currently we are trying to schedule visit reminders ([alert #17 and #18](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?ts=606433e3&pli=1#gid=262234774&range=112:114)), (see also [data flow diagram](https://lucid.app/lucidchart/9454d9ca-7c35-482d-b9e9-0e41284d1281/edit?page=PMQTYrV0-q.h#)) even if `next_visit_dat

[2021-07-19 13:53] ritazagoni commented on #67
Both runs still fail with `Invalid time value` https://www.openfn.org/projects/pdbznd/runs/rg5gb4x8 and https://www.openfn.org/projects/pdbznd/runs/rn5nm9px

[2021-07-19 14:16] taylordowns2000 commented on #67
See commit above: I suppose the question is still why we're picking that particular alert if the logic below is the desired business logic but there's no date in there.
[code]

[2021-07-19 15:56] taylordowns2000 commented on #67
@ritazagoni , did some more digging: the mapping rules for alert 15 dictate that you can only search in `"Schedule Start Date (SSD)":"form.calcs.general.next_visit_date || form.calcs.next_visit_date.next_visit_date"` for next visit date, however the submission highlighted here has `next_visit_date` in the `calcs.save.next_visit_date` path.

I've added some more logs to highlight this. Seems like a

[2021-07-26 10:04] aleksa-krolls commented on #67
See @ritazagoni  comment on the PR: https://github.com/OpenFn/Miracle-Feet/pull/68

Not sure if @taylordowns2000 or @lakhassane should finish this up?

[2021-07-28 06:41] aleksa-krolls commented on #67
@taylordowns2000 @lakhassane who should I assign this issue to?

[2021-07-28 10:30] lakhassane commented on #67
@ritazagoni feel free to retest.https://www.openfn.org/projects/pdbznd/runs/r446kgy6

if you look at line 71 of the logs, we are skipping schedule because next_visit_date is empty

[2021-07-28 10:38] ritazagoni commented on #67
@lakhassane we have multiple potential paths for `next_visit_date` and one of them has a value: `form.calcs.save.next_visit_date'`. We pick it up successfully in the beginning of the job, see line 5 in the logs. See original value on 193 in the message https://www.openfn.org/projects/pdbznd/messages/m66gmg4b. We somehow fail to use when checking next on line 71 of logs.

[2021-07-28 10:52] #67 closed

[2021-08-02 13:27] ritazagoni opened #69 "Duplication:`Tenotomy` message scheduled 3 times"
## Describe the bug
[Alert 05](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?pli=1#gid=262234774&range=23:23), should be sent only once. We schedule it once, then when checking for scheduled alert later we don't seem to find it on Infobip and schedule it once again. `bulkId tenotomy1-da222872-f5b8-428e-947a-1a8a2e60cf31`

## To Reproduce
First scheduling:

[2021-08-02 13:48] ritazagoni commented on #69
Seeing similar error with `casting-intro-1`. However when that was retried later the scheduled message was found and new one was not scheduled, as expected. Testing before assigning further.
https://www.openfn.org/projects/pdbznd/runs?dateRange=720&endDate=2021-08-02T13%3A48%3A36.321Z&jobId=&page=1&perPage=10&searchString=casting_intro-1-80b340f3-7b3f-456a-8507-cf2bc13f8ab2&startDate=2021-07-03T13

[2021-08-02 14:03] ritazagoni commented on #69
Error remains: `tenotomy` message scheduled again https://www.openfn.org/projects/pdbznd/runs/rd76aj7a

[2021-08-03 08:50] aleksa-krolls commented on #69
@ritazagoni on this one... are you able to find the scheduled message in Infobip for tenotomy before running the job again to create a dupe? (wondering if in Infobip we can see the dupes... or only in the OpenFn logs)

@lakhassane adding to bottom of backlog. Let @ritazagoni know if you have any questions once you get to this.

[2021-08-03 13:55] ritazagoni commented on #69
The messages are duplicated on Infobip as well. Infobip message IDs: `32695087411003500000`, `32695092461703500000`, `32695120070103500000`

[2021-08-04 15:35] ritazagoni opened #70 "Improve log for date"
## Describe the bug
On line 26 of logs of run https://www.openfn.org/projects/pdbznd/runs/rzdpgzam we're logging: `For 03 - Casting Introduction, we're looking in now and finding: 1626949945434`.
See [this section of the scheduleSms job](https://github.com/OpenFn/Miracle-Feet/blob/fb87753015d447a75807ef7666cc153284dd8208/schedule_sms.js#L508-L510)

I'm not sure what the outputted `1626949945434` s

[2021-08-04 15:39] lakhassane commented on #69
@ritazagoni could you double check with the API from infobip through postman. I have used the GET to fetch a sms supposedly already schedule but having a response as `Bulk not found`

[2021-08-09 06:16] ritazagoni commented on #69
Checking with Infobip

[2021-08-10 10:06] lakhassane commented on #70
@ritazagoni it's done here https://www.openfn.org/projects/pdbznd/runs/rrkmej8e

[2021-08-10 11:14] #70 closed

[2021-08-19 06:52] aleksa-krolls commented on #69
UPDATE: Infobip API apparently only allows us to GET SMSs scheduled in the last 48 hours... therefore not all SMSs are returned and we were rescheduling. @ritazagoni see email thread with Infobip support.

Therefore we will now implement logic to check criteria in CommCare to see if treatment changed before trying to schedule... this upstream check should also prevent dupe scheduling.

[2021-08-19 06:52] #69 closed

[2021-09-01 13:42] ritazagoni opened #72 "Add a list of usernames to schedule_sms job"
## Background, context, and business value

Currently in schedule_sms.js we only run the scheduling logic if `username` in state matches certain criteria. Going forward, we would like to add a list of `username`-s to this condition.

For example, in pseudocode:
[code]
Please add this logic to the job in a way where it is easy to add new usernames to the list.

## adaptor

`language-http`

## expre

[2021-09-01 16:34] lakhassane commented on #72
@ritazagoni I have added a `allowedUsernames` array where you can add more usernames.

https://github.com/OpenFn/Miracle-Feet/blob/master/schedule_sms.js#L184

[2021-09-02 15:12] aleksa-krolls commented on #72
@ritazagoni Mamadou (rightly) implemented this change as you spec'd it... but we should have told him the integration was live, because `test` SMSs were being processed and failing. See example here: https://www.openfn.org/projects/pdbznd/runs/rrkpmwxw

I updated the job so it is only referencing the 1 username again, but we need to be really careful with change management now that this solution i

[2021-09-03 05:15] aleksa-krolls opened #73 "TypeError [Error]: Cannot destructure property 'key' of 'alert' as it is undefined."
## Describe the bug
This seems to be happening across all scenarios where a user is trying to opt out of SMS. See run failure:
https://www.openfn.org/projects/pdbznd/runs/rn5pyyka

## To Reproduce
Feel free to re-run on prod.

### expression.js
https://github.com/OpenFn/Miracle-Feet/blob/master/schedule_sms.js

### state.json
See LP for `Infobip Portal (MiracleFeet)`
https://www.openfn.org/project

[2021-09-03 05:15] aleksa-krolls commented on #73
@lakhassane Can you please prioritize this one this morning?
cc @ritazagoni

[2021-09-03 05:16] #72 closed

[2021-09-03 09:30] lakhassane commented on #73
@aleksa-krolls @ritazagoni the issue we have a `brace_problems_type: "none"` in the state while we were expecting something to map as an alert. So I made a check to ignore if that's the case

[2021-09-03 09:40] aleksa-krolls commented on #73
Thanks @lakhassane !!

@ritazagoni all runs re-run successfully. Please review on Monday with Mamadou to verify this is the right business logic implemented.

[2021-09-06 10:25] aleksa-krolls commented on #73
@ritazagoni please close this issue whenever you've verified everything on your side... thanks!

[2021-09-06 12:00] #73 closed

[2021-09-20 11:18] ritazagoni opened #74 "Schedule SMS-s on Infobip in 6-month increments"
## Background, context, and business value

In schedule_sms.js we schedule messages on Infobip up to more than 3 years in advance for the SMS campaign `bracing_night`.
However, the Infobip API changed recently and now it only allows scheduling 6 months in advance. We need to find a way of scheduling SMS-s in 6 month increments.

## The specific request, in as few words as possible

1. Create new j

[2021-09-21 08:15] aleksa-krolls commented on #74
@ritazagoni Alternative idea below... and can you put this into a data flow diagram?
1. GET Forms from CommCare (filtering by submission date range)
2. In OpenFn, filter forms further (e.g., only pull forms where `date_of_visit = XXX`)
3. Extract properties we need from form (`treatment`, `date_of_visit` (?)) to build a new Message... post to OpenFn Inbox
4. Trigger SMS job (Q: same or different j

[2021-09-22 07:10] ritazagoni commented on #74
@aleksa-krolls I thought this through https://lucid.app/lucidchart/9454d9ca-7c35-482d-b9e9-0e41284d1281/edit?page=g.wbzQpEu4vv#

I think the problem with fetching form submissions vs case data is that we need _current_ treatment status, while a case submission might be outdated if an another submission was done later, changing the treatment. And we can'f filter by `case_id`. So it seems like we wo

[2021-09-22 07:47] ritazagoni commented on #74
@aleksa-krolls  Another hurdle: for this approach to work, we need to keep checking on Infobip which `bracing_night` messages have been sent to a patient. However, the Infobip API only allows querying the delivery status for 48 hours, and this cannot be extended, see info from Infobip below. This has an impact on our other scheduling logic too.

[2021-09-22 11:08] ritazagoni opened #76 "Don't schedule SMS for a list of alerts"
## The specific request, in as few words as possible

On the Infobip API, we can't schedule SMS-s for more than 6 months ahead anymore... this is a new API limitation. We therefore need to stop scheduling SMS alerts in the [red rows](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?pli=1#gid=262234774&range=59:106) in the schedule_sms.js https://github.com/O

[2021-09-22 11:09] ritazagoni commented on #76
@lakhassane What's the best way to do this? Should I recreate the Master Mapping Sheet, assigning a new `#Alert` number to the SMS-s that we need to stop scheduling?

[2021-09-22 11:36] ritazagoni opened #77 "Add `SMS_Treatment__c` and `Treatment_Registration_Date__c` and pronoun fields to `Patient`-s in SF"
## The specific request, in as few words as possible

We want to start using SalesForce Patient attributes to guide SMS scheduling. For this, we need to modify CommCare > Salesforce jobs to add new fields.

Jobs to update:
1. [Add New Patient](https://github.com/OpenFn/Miracle-Feet/blob/master/add_new_patient__UPDATED.js)
2. [Add New Visit](https://github.com/OpenFn/Miracle-Feet/blob/master/add_ne

[2021-09-22 13:27] ritazagoni opened #78 "Schedule SMS-s based on SF fields"
## Background, context, and business value

We want to schedule the `bracing_night` SMS alerts based on SF `Patient` fields.

Scheduling logic (see also [job flow diagram](https://lucid.app/lucidchart/9454d9ca-7c35-482d-b9e9-0e41284d1281/edit?page=nhTbLB4_3Bvt#) and [alerts](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?pli=1#gid=1871623477&range=59:106)

[2021-09-22 14:25] lakhassane commented on #76
hmm @ritazagoni I think one way to do this is to have a new Master mapping sheet without the red rows. The job won't iterate on them. Let me try to add a new sheet.

[2021-09-22 14:27] lakhassane commented on #76
Ah @ritazagoni I don't have access to edit. Can you please:
1. duplicate the `Master Mapping Table` and rename it maybe to MMT without red rows lol
2. remove the red rows
I will use that new one to update the job.

[2021-09-22 14:39] ritazagoni commented on #76
@lakhassane :D here it is https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?pli=1#gid=1707677033

[2021-09-24 07:55] aleksa-krolls commented on #77
@ritazagoni
1. Can you please link to an example state in both jobs?
2. Are the mappings the same for both jobs?
3. We should not be testing in prod... these are new fields we'll need to configure & test in sandbox. Once Beth sets up the sandbox, we can update the cred info & hand-off to Mamadou... I will keep an eye out on email.

[2021-09-24 08:13] aleksa-krolls commented on #78
@ritazagoni
1. See the `NEW bracing_night` tab for how we might draw this diagram using more standard BPMN notation with a bit more detail... we really want to try to name every single step (event or task) & decision point (gateway) in the flow: https://lucid.app/lucidchart/9454d9ca-7c35-482d-b9e9-0e41284d1281/edit?page=SQpcRv~M.sEX#
2. Once Beth gives us sandbox access, let's update the creds and

[2021-09-24 12:36] ritazagoni commented on #77
@aleksa-krolls
1. Example states added.
2. Yes mappings are the same.
3. Noted

[2021-09-24 12:46] ritazagoni commented on #76
Perfect https://www.openfn.org/projects/pdbznd/runs/r7xpdgy9

[2021-09-24 12:46] #76 closed

[2021-09-27 16:44] aleksa-krolls opened #79 "Several run failures: SyntaxError: Unexpected token (291:63)"
## Describe the bug
See run failure: SyntaxError: Unexpected token (291:63)
https://www.openfn.org/projects/pdbznd/runs/06151f30-9abc-762e-b8c8-bd3b63b5f36f

## To Reproduce
Feel free to re-run on prod

### expression.js
https://github.com/OpenFn/Miracle-Feet/blob/master/schedule_sms.js

### state.json
See LP for Infobip
msg state: https://www.openfn.org/projects/pdbznd/messages/06151f30-8226-76bb

[2021-09-27 17:33] lakhassane commented on #79
@aleksa-krolls re-run here https://www.openfn.org/projects/pdbznd/runs/06152000-8986-73ff-a5c7-76e666673e9f

[2021-09-29 10:17] ritazagoni commented on #79
thanks!

[2021-09-29 10:17] #79 closed

[2021-09-29 11:14] ritazagoni opened #80 "Turn on/off SMS alerts based on `Account.Status__c` field"
## Background, context, and business value

The clinics (Salesforce `Account`-s) MiracleFeets works with can be temporarily or permanently suspended, which affects if patients (SF `Contact`-s) should receive SMSs, and which ones. Clininc status is set in SF. Depending on the clinic's status in SF, we want to deactivate some/all SMS-s for patients associated with that clinic.

## The specific reque

[2021-09-29 13:23] aleksa-krolls commented on #80
@ritazagoni For step 3 (Disable SMSs)... how will this be done in Infobip?

A SF query like this will return a list of Contacts... but is there more info we need from SF in order to find the corresponding contacts in Infobip? Do Infobip Contacts maybe have the CommCare `case_id` or some other externalId we need in order to build the `bulkId` to match on?
[code]

[2021-09-29 14:26] ritazagoni commented on #80
@aleksa-krolls We would need to cycle through all alert `[bulkId](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?pli=1#gid=262234774&range=M:M)`-s constructed from the `case_id`. Same method as we use when a patient opts out of all SMS-s.

[2021-09-30 06:25] aleksa-krolls commented on #80
@ritazagoni 2 test clinics and 3 test patients have been setup in sandbox.

@lakhassane moving to the bottom of the backlog. When you get to this, keep us posted on questions... and Rita will also be around tomorrow afternoon for a quick chat if needed.

[2021-10-04 11:44] lakhassane commented on #80
@ritazagoni I have tried to fetch the bulkIds above you scheduled but they are not found on postman

[2021-10-04 12:15] ritazagoni commented on #80
@lakhassane I scheduled the following bulkIds:
`casting_intro-3-1234567`  -> `case_id: 1234567`
`bracing_day-6-345678` -> `345678`
`bracing_night-6-7777777`  -> `7777777`
`visitBefore-234567-2021-12-24`

[2021-10-04 12:35] lakhassane commented on #80
I pushed draft for the 2 jobs in the meantime.

The blocker for now is to get the visit date for some bulkIds.

[2021-10-04 13:04] ritazagoni commented on #80
@lakhassane
I added a visit in Infobip and SF:

`visitBefore-345678-2021-12-24` for caseId `345678`

to access it:
[code]
This should return a list of `Next_Visit_Date__c` values for a selected patient

[2021-10-04 14:29] lakhassane commented on #80
@ritazagoni I made the update.

[2021-10-05 11:01] ritazagoni commented on #80
@lakhassane getting a syntax(?) error with disableSMS.js, can you check?
[code]

see run https://www.openfn.org/projects/pdbznd/runs/0615c2fa-66f8-7cbc-adc8-33c501cce5ca

[2021-10-05 12:56] ritazagoni commented on #80
@lakhassane
Now we're using `language-http v3.1.11`. I tested with Infobip credentials and set up a new one too to test, but same error
https://www.openfn.org/projects/pdbznd/runs/0615c474-e7d8-72ca-aec3-8ad59448ceef

[2021-10-05 14:25] ritazagoni commented on #78
@lakhassane here's a `Contact` `case_id` you can test with: `7777777`

[2021-10-05 14:26] ritazagoni commented on #78
@aleksa-krolls I think this is ready to go to the backlog?

[2021-10-05 17:47] aleksa-krolls opened #81 "Scrub 2 MF commits from repo history"
An auth token was mistakenly added to Github Readme so our Infobip account was disabled.

See `Scheduling a message on the Infobip API` section on these 2 commits:
1. Mistakenly added: https://github.com/OpenFn/Miracle-Feet/commit/5c3ef6ed47f904249ae865ea5f85e6c6cda9f39e
2. Removed: https://github.com/OpenFn/Miracle-Feet/commit/d0187ab2b197ccfdc40d900ad9862054aa63d9e1

When I search the repo for t

[2021-10-05 18:51] lakhassane commented on #80
@ritazagoni feel free to re-run after update on the credentials. I don't have access to it

[2021-10-05 19:20] lakhassane commented on #81
I checked the repo and no other instance of the token exist.

I executed the step we did last time with Stu (https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/removing-sensitive-data-from-a-repository)

So now I locally have a cleaned `MF` repository without any commits of the sensitive data in the README.

FWIW, it means we also lose commit history of the readme but I

[2021-10-05 19:43] aleksa-krolls commented on #81
@lakhassane we definitely don't need the Readme history... so feel free to push. You're absolute hero, thank you!!

[2021-10-06 11:25] lakhassane commented on #80
@ritazagoni @aleksa-krolls find the run here. I add more log to separate for more precision: https://www.openfn.org/projects/pdbznd/runs/0615d873-d4c3-77ea-930a-ade52bfd0428

[2021-10-07 15:00] aleksa-krolls opened #82 "Do NOT schedule SMSs if phone number is undefined or empty"
## Describe the bug
From the client:
[code]
1. @lakhassane Can you add validation to support this scenario (if not there already)?
2. And @ritazagoni confirming landline issue was resolved in #75 ? Any scheduled SMSs we may need to cancel?

## expression
scheduleSMS.js

## state
`Infobip` in LP
https://www.openfn.org/projects/pdbznd/messages/0615f0af-544b-77fa-aa26-7761f845cf3f

[2021-10-08 12:12] ritazagoni commented on #82
@aleksa-krolls Yes landline issue was resolved.
Contacted Infobip support if we can export all scheduled messages. As far as we know it's only possible for specific `bulkId` so very difficult to comprehensively review.

[2021-10-12 04:55] aleksa-krolls commented on #78
@lakhassane What's the status on this here? Moving to bottom of backlog so you can prioritize the unicef issues, but please share how you're getting on/ how much time left. cc @ritazagoni

[2021-10-12 04:57] aleksa-krolls commented on #80
@ritazagoni please close whenever you've tested this

[2021-10-13 13:52] lakhassane commented on #78
@aleksa-krolls I drafted the job. We might be missing more information to finalizing scheduling:
- `contact name` to append to sms,
- `timezone` in case we need to delay sms send date,
- `contact_phone_number` (from and to) to set destination and source.
Are those information also available in SF?

[2021-10-13 14:58] aleksa-krolls commented on #78
@lakhassane Other `Contact` fields you can query from SF...
1. name: `FirstName` or `LastName` (or I think `Name` if you want both)
2. timezone: `Clinic_Country__c` ... use this and the below mappings to determine the time zone. (@ritazagoni pls help me to later expend this for other countries)
[code]
3. phone: `Guardian_1_Phone_Number_1__c` (@ritazagoni will need you to double check this is the r

[2021-10-18 09:34] ritazagoni opened #84 "`TypeError [Error]: mapping[key] is not iterable`"
## Describe the bug
`schedule_sms.js` fails with `TypeError [Error]: mapping[key] is not iterable`

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of the bug: https://www.openfn.org/projects/pdbznd/runs/06168437-8aa1-716e-9819-7ee8430c43b3 (and [message](https://www.openfn.org/projects/pdbznd/messages/06167ed5-6f07-77f9-bbdb-86d5aed9b044
))

### expression.js
L

[2021-10-18 11:25] ritazagoni commented on #84
@lakhassane this is the full mapping table
https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?pli=1#gid=262234774

[2021-10-18 12:04] #84 closed, assigned to ritazagoni, lakhassane, aleksa-krolls

[2021-10-19 09:54] ritazagoni commented on #78
hey @lakhassane I get `Function not available.` errors with the [Fetch contact](https://github.com/OpenFn/Miracle-Feet/blob/master/1.fetchContact.js) job, maybe this is also a syntax thing? Failed run: https://www.openfn.org/projects/pdbznd/runs/0616e951-ad15-7b52-aa57-ed0b827ccb6c

[2021-11-01 11:12] ritazagoni commented on #77
hey @elias-ba I'd need your help with a last update here. Could you add to the `Contact` the following mapping in add_new_visit_UPDATED.js ?

[2021-11-01 11:34] elias-ba commented on #77
Hey @ritazagoni sure thing. What are the 3 value mappings to add ? Is there a condition to pass for these values to be added to the `Contact` ?

[2021-11-01 11:37] ritazagoni commented on #77
hey @elias-ba for mappings see the code block in the comment: `Send_SMS__c`, `SMS_Opt_In__c'` and `SMS_Opt_In_II__c` with paths and values defined:

[code]
No other conditions!

[2021-11-01 11:38] elias-ba commented on #77
Great @ritazagoni. Doing it right now.

[2021-11-01 12:51] elias-ba commented on #77
@ritazagoni are you sure there is `properties` object in the state you gave me to test with ?

[2021-11-01 12:54] ritazagoni commented on #77
@elias-ba please use `form.calcs.send_sms`, `form.calcs.sms_opt_in` and `form.calcs.sms_opt_in_educational`

[2021-11-01 12:58] elias-ba commented on #77
Thanks @ritazagoni I have tested and it seems to be working fine. I have pushed my changes to GH. Could you test please and let me know if everything is covered ?

[2021-11-01 13:03] ritazagoni commented on #77
thanks @elias-ba
I see an issue: in [this run](https://www.openfn.org/projects/pdbznd/runs/0617fe4c-0047-7edb-bac9-b2252798af6a) we map all of these values as `''` however `sms_opt_in` and `sms_opt_in_educational` have values in [state](https://www.openfn.org/projects/pdbznd/messages/0617fe3b-f878-7360-98f5-4a4d7a04f69e)

[2021-11-01 13:08] elias-ba commented on #77
I can't see the run currently. I am having 500 error.
![Screenshot from 2021-11-01 13-07-32](https://user-images.githubusercontent.com/86059666/139676486-e5e114c1-d224-47ad-b651-537afb485076.png)

[2021-11-01 13:15] elias-ba commented on #77
@ritazagoni can you confirm that `calcs` have `sms_opt_in` and `sms_opt_in_educational` fields ?

[2021-11-01 13:18] ritazagoni commented on #77
sorry! `form.calcs.sms.send_sms` , `form.calcs.sms.sms_opt_in`, `form.calcs.sms.sms_opt_in_educational`

[2021-11-01 13:22] elias-ba commented on #77
Thanks

[2021-11-01 13:25] elias-ba commented on #77
@ritazagoni I have updated, tested and pushed. Now the values are not empty. Can you check and let me know ?

[2021-11-01 13:35] ritazagoni commented on #77
@elias-ba results look good, still testing the entire flow.
Could you please remove the `console.log`-s? :)

[2021-11-01 15:37] elias-ba commented on #77
@ritazagoni how are we moving with this ?

[2021-11-02 07:06] #77 closed

[2021-11-02 10:21] ritazagoni commented on #74
Implemented with #77 and #78.

[2021-11-02 10:21] #74 closed

[2021-11-17 13:35] ritazagoni opened #92 "Field on Salesforce `Contact` only updated when job re-run"
## Describe the bug
The `  Duplicate_Patient__c: true` value we're sending is not being updated on the Contact in SF when the [Update Patient](https://github.com/OpenFn/Miracle-Feet/blob/master/update_patient_UPDATED.js) job initially runs, even if the run shows success.

However, when it is later re-run manually the Contact is updated as originally expected.

## To Reproduce
Example 1: Update did

[2021-11-18 14:16] aleksa-krolls commented on #92
@ritazagoni I've been checking this out, and the job looks fine... but it does look like these jobs are on a very old salesforce adaptor version. I think we should...
1. upgrade the jobs to the latest `v2.7.2` (@lakhassane pls confirm this is the best version)
2. Test syncing this data to sandbox to see if when we run this... does it successfully update the SF record _in the first run_?

To suppor

[2021-11-19 08:39] ritazagoni opened #93 "Don't schedule SMS-s for more than 90 days ahead"
## Background, context, and business value

In Infobip we can only query and cancel messages within 90 days from scheduling. In order  to be able to cancel bracing_night messages if needed, let's only schedule them 90 days ahead instead of 6 months.

## The specific request, in as few words as possible

1. In [schedule_sms.js](https://github.com/OpenFn/Miracle-Feet/blob/master/schedule_sms.js), we

[2021-11-19 11:04] ritazagoni opened #94 "Log inactive clinics fetched"
## Background, context, and business value

Currently in [getInactiveClinics.js](https://github.com/OpenFn/Miracle-Feet/blob/master/getInactiveClinics.js) we only log Contacts that belong to inactive accounts. See https://github.com/OpenFn/Miracle-Feet/issues/80 for original request.

## The specific request, in as few words as possible

After both queries ([1](https://github.com/OpenFn/Miracle-Fe

[2021-11-19 12:15] ritazagoni opened #95 "`Disable SMS` job times out"
## Describe the bug
The disableSMS.js job runs sometimes time out. Could you check if it can be optimised or should we increase run time?

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of the bug: https://openfn.org/projects/miraclefeet/runs/0619516c-7989-7d24-89fa-0092d65ad4e8

### expression.js
Link to the job itself in Github: https://github.com/OpenFn/Mira

[2021-11-22 04:50] aleksa-krolls commented on #93
@ritazagoni @lakhassane moving this to the top of the backlog to prioritize today. Please jump on a call as needed, and let me know if you need assistance!

[2021-11-22 04:51] aleksa-krolls commented on #92
@ritazagoni let me know if you want to talk this through again later today/ keep me posted on how testing goes

[2021-11-22 07:42] ritazagoni commented on #92
note from Mamadou: v2.7.2 is the version to use

[2021-11-22 11:13] lakhassane commented on #93
@ritazagoni I updated the mapping object, and added spacing for 90 days now!

[2021-11-22 11:59] lakhassane commented on #94
Rita I added some logs for the all the inactive clinics from the 2 queries.

<img width="470" alt="Screen Shot 2021-11-22 at 11 58 56" src="https://user-images.githubusercontent.com/8411231/142857993-8a24060d-caec-4169-88b2-15db51fafc1f.png">

[2021-11-23 11:33] lakhassane commented on #95
@taylordowns2000 can you help making this a long-running job?

[2021-11-23 12:00] ritazagoni opened #97 "`Schedule_SMS` error: `Cannot read property 'bulkPrefix' of undefined`"
## Describe the bug
[schedule_sms.js](https://github.com/OpenFn/Miracle-Feet/blob/master/schedule_sms.js) job fails with  `Cannot read property 'bulkPrefix' of undefined`.

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of the bug: https://openfn.org/projects/miraclefeet/runs/0619cd68-4723-7668-864e-19b584edb46a

## state.json

See LP for   `Infobip Portal (Mir

[2021-11-23 16:24] aleksa-krolls commented on #95
@lakhassane before we turn on long-running job setting... why does it take so long to run? Is there anything we can do to optimize the interaction with Infobip?
cc @ritazagoni @taylordowns2000

[2021-11-23 17:06] taylordowns2000 commented on #95
all set @lakhassane , thanks for the explanation on slack

[2021-11-23 20:37] aleksa-krolls commented on #95
@ritazagoni pls see Slack. Run long enabled... so do we need to re-run this?

[2021-11-23 20:54] aleksa-krolls commented on #97
@ritazagoni please don't forget to assign to @lakhassane otherwise these get missed!

[2021-11-24 11:20] lakhassane commented on #97
@ritazagoni I made the correction. There was a misunderstanding on my side on the previous issue which triggered this. Corrected now https://openfn.org/projects/miraclefeet/runs/0619e1ea-d1df-755f-b664-da6a8d7445e3

[2021-11-25 11:50] aleksa-krolls opened #98 "schedule_sms: TypeError [Error] because of new `brace_problems_type` value"
## Describe the bug
See run failure: TypeError [Error]: Cannot destructure property 'key' of 'alert' as it is undefined.
https://www.openfn.org/projects/miraclefeet/runs/0619f6cf-599d-79f7-b444-87015c88a1fd

## To Reproduce
1. Here is a link to a failed run- feel free to run on prod: https://www.openfn.org/projects/miraclefeet/runs/0619f6cf-599d-79f7-b444-87015c88a1fd

### expression.js
https://gi

[2021-11-25 13:10] lakhassane commented on #98
@aleksa-krolls here is the correction. it was related to recent changes on `bracing_night` https://www.openfn.org/projects/miraclefeet/runs/0619f8b2-8aee-7d10-a906-a048748dcc75

[2021-11-25 14:05] aleksa-krolls commented on #98
thanks, @lakhassane ... that fixed most of them. But now seeing another TypeError from 1 week ago:
https://www.openfn.org/projects/miraclefeet/runs/06196943-30cc-7827-a9b9-413cc8b8ed0a

@ritazagoni fyi, there were 60 failures from last week that were never reprocessed or addressed. When we resolve an error, let's please try to remember to reprocess _all_ failures and ensure that nothing else has b

[2021-11-25 14:17] #97 closed

[2021-11-25 14:17] #95 closed

[2021-11-25 16:43] lakhassane commented on #98
@aleksa-krolls corrected here: https://www.openfn.org/projects/miraclefeet/runs/0619fbd0-89f0-71f4-9fca-44d292c5fe75.

We had a type_error where `brace_problems_type` was `undefined`.

[2021-11-26 04:22] aleksa-krolls commented on #98
Thanks @lakhassane! All SMS runs looking good now :-) cc @ritazagoni

[2021-11-29 08:20] aleksa-krolls commented on #98
@lakhassane Seeing one more of these TypeErrors: https://www.openfn.org/projects/miraclefeet/runs/061a4847-9b59-7216-934a-576646c6167f
cc @ritazagoni

[2021-11-29 11:03] lakhassane commented on #98
@aleksa-krolls this error is triggered by a new `brace_problems_type` that was not in the mapping: `motion_range`.
Previously we had only: `not_wearing_enough, child_not_tolerating, family_not_accepting`. Should this be added to the mapping sheet so that I can use it or should we ignore it?

[2021-11-29 12:46] ritazagoni commented on #98
thanks @lakhassane I'll check with MiracleFeet, it is indeed new and they might need a new SMS message for it.

[2021-12-01 10:47] aleksa-krolls commented on #94
@lakhassane It looks like this logging is now throwing some TypeErrors... can you please take a look and re-run?
https://www.openfn.org/projects/miraclefeet/runs/061a74ff-7670-7fbc-ae84-426d22f50333

@ritazagoni Beth's testing for deactivating clinics failed because of this. Logging results here:
https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit#gid=959470187

[2021-12-01 10:54] aleksa-krolls commented on #93
@ritazagoni see here for Beth's `bracing_night` testing results: https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit#gid=959470187

Please review the SMSs in the logs to make sure the right ones have been scheduled... I'm not sure they all have based on the first one, but I think will be more efficient for you to take a look and then advise if further changes n

[2021-12-01 11:31] lakhassane commented on #94
@aleksa-krolls it's tested here. We needed to ensure `Account` existed before logging `Name` and `Status__c`

[2021-12-02 07:38] aleksa-krolls opened #99 "JSON_PARSER_ERROR: Cannot deserialize instance of date from VALUE_STRING value"
## Describe the bug
See run failure with error `JSON_PARSER_ERROR: Cannot deserialize instance of date from VALUE_STRING value  or request may be missing a required field at [line:1, column:406]`

I think something may be going on with date formatting.

## To Reproduce
Feel free to re-run on prod:
https://www.openfn.org/projects/miraclefeet/runs/061a8756-3211-7efc-8889-b0c67025fa2f
https://www.ope

[2021-12-02 07:39] aleksa-krolls commented on #99
@elias-ba can you please check out this bug after you've addressed the Itau issue today? Thanks!

[2021-12-02 07:42] aleksa-krolls commented on #92
Seems to be related to SF-side automation, not an OpenFn issue. Closing for now.

[2021-12-02 07:42] #92 closed

[2021-12-02 08:10] #94 closed

[2021-12-02 17:21] elias-ba commented on #99
@aleksa-krolls this seems to be fixed and working fine. I have tested locally and on the Platform. See this successful run: https://www.openfn.org/projects/miraclefeet/runs/061a9002-5b79-773b-b849-bc3b39581da2.

Please test and close this issue if everything okay otherwise let me know.

[2021-12-03 11:51] aleksa-krolls commented on #99
@elias-ba working great! Thanks so much for the help :D

[2021-12-03 11:54] aleksa-krolls opened #100 "Update Patient: RangeError [Error]: Invalid time value"
## Describe the bug
See run failure with error `RangeError [Error]: Invalid time value`

I think something may be going on with date/time formatting in the source data... but we need to identify (1) is there an issue with the source data in state, or (2) with the OpenFn logic related to date/time.

## To Reproduce
Feel free to re-run on prod:
https://www.openfn.org/projects/miraclefeet/runs/061894

[2021-12-03 11:55] aleksa-krolls commented on #100
@elias-ba lining up a couple more for Monday based on errors I'm seeing today :-)

[2021-12-03 12:06] aleksa-krolls commented on #98
@lakhassane MF confirmed that sometimes they will add options to the `brace_problems_type` question.
If the value is in the SMS mappings (rn there are 3: `not_wearing_enough, child_not_tolerating, family_not_accepting`)... then we DO want to send the appropriate SMS alert.

If the value is NOT in the mappings (e.g., `motion_range`) then we can ignore it and not worry about an SMS alert. Therefore,

[2021-12-06 08:21] ritazagoni opened #101 "Names not populated in `Bracing Night` scheduling"
## Describe the bug
When scheduling `bracing_night` messages, `guardian1_first_name` is not being populated in the messages, even though it’s fetched correctly from Salesforce.

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of the bug: https://www.openfn.org/projects/miraclefeet/runs/061adc6d-a4fa-7218-a39d-f6ade3279d15

### expression.js
Link to the job itsel

[2021-12-06 08:59] elias-ba commented on #100
Hello @aleksa-krolls this is failing because of the format of the date `"date_first_visit": "05-10-2021"` in the message that's not supported by the `dateConverter` function in the expression file. This `date_first_visit` is the only one in the message that has this *DD-MM-YYYY* format. All the other dates are in *YYYY-MM-DD* format which is supported by the `dateConverter` function. Should we upd

[2021-12-06 09:10] aleksa-krolls commented on #100
Thanks @elias-ba! Let me check with the client, but I think we'll probably ask them to clean the data. But I went ahead and noted the assumed format is `YYYY-MM-DD`.

[2021-12-06 09:10] #100 closed

[2021-12-06 11:02] lakhassane commented on #98
@aleksa-krolls I created a list of valid `brace problems type` to check. See run here: https://www.openfn.org/projects/miraclefeet/runs/061aded9-1bb8-7b55-8348-a3e95ba12002

[2021-12-06 11:26] lakhassane commented on #101
@ritazagoni the mapping object was incorrectly updated. It's fixed now. Check run: https://www.openfn.org/projects/miraclefeet/runs/061adf33-c886-72ea-a0b6-075931abb175

[2021-12-06 12:37] aleksa-krolls commented on #101
Thanks, @lakhassane.
@ritazagoni on Weds... please re-test and make sure all the SMSs looking good. If yes, let's push to go-live.

[2021-12-06 13:14] aleksa-krolls commented on #99
@elias-ba I found another instance of this error that is not retrying successfully... can you please look at this run failure and make further changes as needed?
https://www.openfn.org/projects/miraclefeet/runs/061ae0c5-cd76-7533-bde3-97ee14d5786b

[2021-12-07 10:28] ritazagoni commented on #101
Looking all good.

[2021-12-07 10:28] #101 closed

[2021-12-07 12:02] ritazagoni opened #102 "Deactivation: Query for `Contact`-s doesn't return expected Contacts"
## Describe the bug
In [getInactiveClinics](https://github.com/OpenFn/Miracle-Feet/blob/0635a1acb769a9d30d440e05a4e2c097acc06602/getInactiveClinics.js#L1-L14) we look for Contacts that are associated with Accounts in specific Status-es. Even though we find and log the correct Accounts, we don't seem to find the associated Contacts.

## To Reproduce
1. Here is a link to a failed run on OpenFn.org w

[2021-12-07 15:09] ritazagoni commented on #98
Runs reprocessed.

[2021-12-07 15:09] #98 closed

[2021-12-07 15:44] lakhassane commented on #102
@ritazagoni I might need you in this to detail what is not right. The job does not do any filtering or something else. Are we sure those contacts exist?

[2021-12-07 19:55] aleksa-krolls commented on #102
@lakhassane I think the logs are what is throwing us off. For example, why does L7 of [this run](https://www.openfn.org/projects/miraclefeet/runs/061af4ad-2e0c-7a1e-a517-4f90d249a7ff) show `{ totalSize: 0, done: true, records: [] }` ... this to means no records were returned.
However, if I execute this query directly in SF, I see 4 Contacts are returned.
<img width="1280" alt="Screen Shot 2021-12-

[2021-12-07 19:57] aleksa-krolls commented on #99
@elias-ba can you please check this one out tomorrow? Hoping it will be quick. cc @taylordowns2000

[2021-12-07 20:03] aleksa-krolls commented on #102
HOLD UP @ritazagoni looks like MF switched the job to point to prod... is this what is tripping you up?
https://www.openfn.org/projects/miraclefeet/jobs/jvn5rk

[2021-12-08 01:13] elias-ba commented on #99
Hey @aleksa-krolls sorry I missed this one today. It's now done. I have tested it locally and in platform, see this run: https://www.openfn.org/projects/miraclefeet/runs/061b0069-cb5c-7ac5-9c5e-672ffd49ce5c. Please test it and close this issue if it's okay, otherwise let me know. Thanks

[2021-12-08 08:47] aleksa-krolls commented on #99
Thanks @elias-ba ! And thank you for the suggesting... slowly working on backwards documentation for these older projects... so can you pls let me know what you changed to make this run successfully?

[2021-12-08 08:59] #99 closed

[2021-12-08 08:59] elias-ba commented on #99
Welcome @aleksa-krolls. See my comment [here](https://github.com/OpenFn/Miracle-Feet/commit/a3d01c8c887c594a94964c0be11520897ed11479#r61549190) for a detailled explanation of how I made the run successful.

[2021-12-08 10:15] #102 closed

[2021-12-09 07:39] ritazagoni commented on #93
Testing done, moved to Prod.

[2021-12-09 07:39] #93 closed

[2021-12-09 10:08] ritazagoni opened #103 "Schedule all SMS-s based on SF fields"
## Background, context, and business value

We have recently re-designed sending `bracing_night` messages to be scheduled based on Salesforce fields instead of CommCare forms. We want to do the same with _all_ SMS alerts: fetch Contact-s daily from SF and schedule SMS based on their relevant SF fields.

A clear and concise description of what you want to happen.

## state.json

Either provide stat

[2021-12-10 06:58] ritazagoni commented on #103
@lakhassane I added the updated Master Mapping Table to the issue. Let me know for any changes or clarifications!

[2021-12-10 09:03] ritazagoni opened #104 "Schedule SMS: Check if `sendAt` is not in the past"
## Background, context, and business value

When we reprocess messages, the `sendAt` date of the SMS is sometimes in the past as it is set relative to appointment dates in the messages. If this is the case, we receive an error from Infobip and the job fails. For example: https://www.openfn.org/projects/miraclefeet/runs/061af57c-2ee0-7fdd-8927-8912b8367f3a

## The specific request, in as few words

[2021-12-13 02:14] aleksa-krolls commented on #104
@ritazagoni do we want this check for ALL messages? Or only certain SMSs? If the former, then perhaps let's ask Elias to do the check at the end of the job as a last step?

Then, what should happen if the message _is_ in the past... should the run fail? Or succeed but then log a message? Please specify what behavior exactly you want here, and then feel free to add this to the top of the backlog.

[2021-12-13 11:13] ritazagoni commented on #104
Specs updated. @elias-ba feel free to ping me with any questions!

[2021-12-13 12:52] ritazagoni opened #105 "Update CC -> SF field mapping"
## Background, context, and business value

We are updating the `Visit.Brace_Problems_Type__c` field in Salesforce, but we don't have a mapping table in place to update the SF values.

## The specific request, in as few words as possible

Jobs to add new mapping to:
1. [Add New Visit](https://github.com/OpenFn/Miracle-Feet/blob/master/sample_data/stateUpdateVisit.json)
2. [Update Visit
](https://g

[2021-12-13 13:00] aleksa-krolls commented on #105
@elias-ba Next issue to pick up this morning whenever you have a minute... liaise with @ritazagoni for any questions or additional info needed, thanks :D

[2021-12-13 16:46] elias-ba commented on #105
Taking this one now.

[2021-12-14 12:14] aleksa-krolls commented on #105
@elias-ba let @ritazagoni know if any questions pop up... she'll be online for a couple more hours.

[2021-12-14 12:29] elias-ba commented on #105
Yes @aleksa-krolls, I am currently following the steps outlined there. Will reach out for any question.

[2021-12-14 15:49] elias-ba commented on #105
@ritazagoni I think the link for example state 1 is not the right one, could you confirm ?

[2021-12-14 15:58] aleksa-krolls commented on #105
@elias-ba I think this is the right link for state 1: https://github.com/OpenFn/Miracle-Feet/blob/master/sample_data/log_new_visit_multiple_brace_problems_type.json

@ritazagoni to confirm tomorrow

[2021-12-14 15:59] elias-ba commented on #105
Thanks @aleksa-krolls. Let me try to test with that one.

[2021-12-14 16:11] elias-ba commented on #105
@aleksa-krolls I think we'll need to wait for @ritazagoni to give us the right state to use for state 1. I have tested the one you gave me above but it produce this error `TypeError [Error]: Cannot destructure property 'clinic_code' of 'state.data.properties' as it is undefined.`. I suspect that it's because it's not the right state.

I am now moving to the second item in the checklist.

[2021-12-15 05:15] ritazagoni commented on #105
@elias-ba the sample data is updated!

[2021-12-15 11:44] lakhassane commented on #104
@ritazagoni I added some logs for when `sendAt` is in the past. I log the whole message to send

[2021-12-15 12:36] ritazagoni commented on #105
hey @elias-ba yes `brace_problems_type` can be either one value or multiple values separated by ` `.
Here's an example of how we handle this field in another job: https://github.com/OpenFn/Miracle-Feet/blob/9aa7e5f585ecb33c338348b5dfd6907bd29b2935/schedule_sms.js#L302-L305

[2021-12-15 12:38] elias-ba commented on #105
Thanks @ritazagoni. How do we materialize that using the Mapping above. In the case of `brace_problems_type` having more than one value, do we concatenate the different values of the mapping or do we get an array of the values ?

[2021-12-15 12:42] ritazagoni commented on #105
@elias-ba We have to use the [handleMultiSelect](https://github.com/OpenFn/Miracle-Feet/blob/ac9d36e504940a208296f7115feb932d4369d1bc/add_new_visit__UPDATED.js#L244-L245) function to update multiple values. maybe @lakhassane can help with how to use it?

[2021-12-15 12:43] elias-ba commented on #105
Thanks @ritazagoni for mentioning that. Lemme see if I can pair with @lakhassane.

[2021-12-15 13:42] elias-ba commented on #105
@ritazagoni this is now working fine. The mapping is integrated in the two expressions and all the tests are successful. Please do your tests and let me know if you have any feed-backs.

Sorry for the time I spent on this, these job expression are not easy to read and I was making sure everything got integrated very well.

Thanks ++

[2021-12-15 13:50] ritazagoni commented on #105
no worries and thanks @elias-ba !

[2021-12-15 14:02] lakhassane commented on #103
@ritazagoni I'm trying to access `Contact.Account.Status__c `is this a valid column in the object Contact?

[2021-12-15 14:25] ritazagoni commented on #103
@lakhassane we need to access the `Account` of `Contact` the same way we're doing here: https://github.com/OpenFn/Miracle-Feet/blob/98f5a740d9b8d5b2ee19196e924c02b1d8be03c3/getInactiveClinics.js#L2

[2021-12-15 14:44] ritazagoni commented on #105
@elias-ba could you check if these erros are related? https://openfn.org/projects/miraclefeet/runs/061b9feb-6cd2-7a05-8d99-4720c5664054 and https://openfn.org/projects/miraclefeet/runs/061b9feb-6ce4-7e71-a69c-e06485be151e ?

[2021-12-15 15:01] elias-ba commented on #105
@ritazagoni I just pushed a correction. Please check if this solved !

[2021-12-15 15:20] ritazagoni commented on #105
Looking great thanks @elias-ba !

[2021-12-15 22:00] aleksa-krolls commented on #104
@ritazagoni @aleksa-krolls seeing lots of recent SMS failures... is this linked to this latest change or a new issue?
https://www.openfn.org/projects/miraclefeet/runs/061ba09f-6941-749e-808d-ab23fd74501f

[2021-12-17 15:29] lakhassane commented on #104
@ritazagoni check here: https://www.openfn.org/projects/miraclefeet/runs/061bcacc-cd00-70fa-8756-c49991caf6e1

I forgot to return state when skipping scheduling :)

[2021-12-17 15:32] #104 closed

[2021-12-21 15:15] ritazagoni commented on #103
For @ritazagoni to verify and spec changes for:
1. Removing `bracing_night` scheduling (same way as in `schedule_sms.js`)
2. Add logic for missed appointment reminders (IF `last_visit_date < next_visit_date` > send?)
3. We seem to be setting visitBefore based on treatment start date and not next visit date. (https://openfn.org/projects/miraclefeet/runs/061c024e-730a-7672-b4c7-c489069b7c32
See logs

[2022-01-03 07:26] ritazagoni commented on #103
hey @lakhassane happy new year:)
1. After thinking through the scheduling while testing, I made additions and a some changes to the scheduling logic. I added the data flow diagrams to a new "Update" section in the issue.

2. We would need to remove `bracing_night` scheduling from this job. Should I just remove these alerts from the Master mapping table?

Ping anytime to run through the changes!

[2022-01-03 16:30] lakhassane commented on #103
@ritazagoni this is ready for test

[2022-01-04 05:22] ritazagoni commented on #103
thanks a lot @lakhassane !
1. The fetch job times out https://openfn.org/projects/miraclefeet/runs/061d3d83-e16b-73f2-a874-867184953e35
Can you check if there's any changes we can make to avoid this? I'll also check if we can narrow down the query - would that help if it's possible?

[2022-01-04 06:02] ritazagoni opened #107 "Only schedule bracing night messages if `Contact`-s `Account` is "Actively Supported" or "Temporarily Suspended""
## The specific request, in as few words as possible

We want to schedule bracing night messages only if `Contact`-s `Account` is actively supported or temporarily suspended. In order to do this, we should add the following condition for fetching Salesforce `Contacts`
IF `Account.Status__c  IN ("Actively Supported", "Temporarily Suspended" )` to the [Bracing-night fetch job](https://openfn.org/pro

[2022-01-04 12:37] ritazagoni commented on #103
As discussed with @lakhassane re above points:
1. Even a simple query is hanging when querying from the job using the `MiracleFeet SMS Sandbox Salesforce` creds. When trying to run another, previously working job with these creds, we ran into an error https://openfn.org/projects/miraclefeet/runs/061d4393-82fc-7d22-99f5-2a290d2285bd. @aleksa-krolls could you check on the account details?
2. Already

[2022-01-06 14:43] ritazagoni commented on #103
@lakhassane
It's looking great.
One small thing I overlooked: Could we set the SMS `from` field based on the `Account.Country__c` field, following this [mapping](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?pli=1#gid=639938117&range=B:C)? So for example if `Account.Country__c` == `Nigeria` --> `from:TSCFFOOT`

[2022-01-10 07:02] ritazagoni commented on #107
hey @lakhassane  - this has been moved to Review/QA, could you confirm if it's ready to test?

[2022-01-10 09:03] lakhassane commented on #107
@ritazagoni I think you moved it (by mistake?). I have not touched anything yet.

[2022-01-10 11:29] lakhassane commented on #107
@ritazagoni this is now ready to go!

[2022-01-10 11:54] lakhassane commented on #103
@ritazagoni I added the SMS `from` in the message to send

[2022-01-10 12:36] #107 closed

[2022-01-12 10:44] aleksa-krolls commented on #103
@ritazagoni has this been validated? Can we close it out?

[2022-01-14 08:12] ritazagoni opened #108 "Schedule and cancel SMSs based on Salesforce `Treatment_Completed__c` field"
## Background, context, and business value
Original issue: #103

When a patient completes treatment, it will appear in Salesforce as `Complete` in the `Account.SMS_Treatment__c` field.
In this case we are sending Alert #13 and canceling SMS for `SMS_Original_Treatment__c` and for and alert 14, 15, 16 and reminders (Alert 17, 18). We want to keep this step and add as below.

We want to add the same

[2022-01-14 08:28] aleksa-krolls commented on #108
@ritazagoni is there existing logic for when `Account.SMS_Treatment__c = 'Completed'` that we are _changing_ to reference `Account.Treatment_Completed__c = true`? Or this entirely new logic we're inserting? (That isn't clear and is an important distinction.)

[2022-01-14 08:30] ritazagoni opened #109 "Filter fetching Accounts by `LastModifiedDate` date"
## Background, context, and business value
Original issue: #103

As the fetch job runs daily at 12AM, in the subsequent run we only want to fetch contacts that have been modified since the last run.

## The specific request, in as few words as possible

In [fetchContacts.js](https://github.com/OpenFn/Miracle-Feet/blob/master/fetchContacts.js) add the following logic to the Salesforce query:

Fetch

[2022-01-14 08:40] ritazagoni opened #110 "Only schedule SMS if `Account.Guardian_1_Phone_Landline__c == false`"
## Background, context, and business value
Original issue: #103

## The specific request, in as few words as possible
Add logic to [schedule_smsV2.js](https://github.com/OpenFn/Miracle-Feet/blob/master/schedule_smsV2.js) to:

Only schedule SMS for a contact if `Account.Guardian_1_Phone_Landline__c == false`

## state.json

See LP for  `MiracleFeet Salesforce SMS Sandbox` and `Infobip Portal (Mirac

[2022-01-14 09:49] aleksa-krolls commented on #109
@ritazagoni one question here... do we need to worry at all about the time zone of the platform vs. time zone of the salesforce system? (This might only affect how we configure our timer trigger to schedule the job, not the Salesforce query - but want to double check.)

[2022-01-14 09:51] aleksa-krolls commented on #110
@ritazagoni I just want to gut check this one bc seems like a strange requirement (having no context)... if the guardian has a landline, then we _are_ scheduling SMSs? And does this apply to all SMSs?

[2022-01-14 11:56] ritazagoni commented on #110
you're so right @aleksa-krolls

[2022-01-14 11:59] ritazagoni commented on #109
@aleksa-krolls Yes, this should be according to the platform time zone. How can I check the time zone of SF?

[2022-01-14 12:04] aleksa-krolls commented on #109
@lakhassane when you work on this, see comments above. Wondering if you have thoughts on how to handle time zones and whether you can convert everything to UTC? cc @ritazagoni

[2022-01-14 12:30] ritazagoni commented on #109
Reminder for @ritazagoni to verify and implement the same filter in getInactiveClinics.js

[2022-01-17 11:17] lakhassane commented on #110
@ritazagoni I added the logic. This is ready for testing.

[2022-01-17 12:15] lakhassane commented on #108
@ritazagoni I still have questions additionally to those from Aleksa.
Are we adding another logic to schedule alert 13 or a check between `SMS_Treatment__c` or `Treatment_Completed__c`?
Thies are 2 different things because if we just add the new logic we might (will) have duplicates on alert 13.

Also is the real columns `Account.SMS_Treatment__c` or just `SMS_Treatment__c` which is what we have b

[2022-01-17 12:22] ritazagoni commented on #108
Good point @lakhassane on duplication.
Let's do this:
1. Remove current scheduling and deletion of Alert #13 based on condition `Account.SMS_Treatment__c == Complete`
2. Add logic to
When `Account.Treatment_Completed__c == true`:
1. **Schedule** [alert #13](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?pli=1#gid=379768061&range=107:107)
2. **Delete** aler

[2022-01-17 12:58] lakhassane commented on #108
@ritazagoni thanks for the updates.

I made the change in the logic

[2022-01-17 14:01] lakhassane commented on #109
@ritazagoni I added a filter to fetch only contact where `lastModifiedDate` is greater than the previous day at `00:00`.
I don't think we need to worry about the timezone since we set to the previous date at 12AM

[2022-01-18 13:25] ritazagoni commented on #108
hey @lakhassane I got an error https://openfn.org/projects/miraclefeet/runs/061e6bf5-8de5-744d-bfad-cdff2d10edcd `TypeError [Error]: Cannot destructure property 'key' of 'alert' as it is undefined.` I think it's related to this change

[2022-01-18 18:24] lakhassane commented on #108
@ritazagoni there was a typo in scheduling alerts. Find last run with correction: https://openfn.org/projects/miraclefeet/runs/061e705b-6873-78dc-bb6b-3b9806e3ead3

[2022-01-19 10:58] ritazagoni commented on #108
hey @lakhassane can we make an adjustment to the deletion logic?

When `Account.Treatment_Completed__c == true`:
1. **Schedule** [alert #13](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?pli=1#gid=379768061&range=107:107) [**IMPLEMENTED**]
2. **Delete** alert for `SMS_Original_Treatment__c` if != "Complete" AND for `SMS_Treatment__c` if != "Complete"  AND

[2022-01-19 11:55] lakhassane commented on #108
@ritazagoni I updated the logic of `Treatment_Completed__c` as this:
- We delete `original treatment` alert and `treatment` alert only when either one is different from 'Complete'

[2022-01-20 06:16] #110 closed

[2022-01-20 06:44] ritazagoni commented on #108
@lakhassane can you check this run? https://openfn.org/projects/miraclefeet/runs/061e9033-4a7d-7a03-b2ad-12d26935b32e
From logs `L5`:
`Contact` `Jessica Jones`:
`originalTreatment: 'Casting',`
`treatment: 'Complete',`
`treatmentCompleted: true`

We would need to delete alerts for `originalTreatment: Casting`, but I think we're not deleting any alerts: logs `L1143`: `messages to delete []`

[2022-01-20 07:06] ritazagoni opened #111 "Filter fetching Clininc (`Account`-s) by LastModifiedDate date"
## Background, context, and business value

Original issue: https://github.com/OpenFn/Miracle-Feet/issues/80

The [getInactiveClinincs.js](https://github.com/OpenFn/Miracle-Feet/blob/master/getInactiveClinics.js) job runs daily at 12.05AM, fetching `Account`-s from Salesforce. In the subsequent run we only want to fetch Clinics (`Account`-s) that have been modified since the last run.

## The spec

[2022-01-20 07:16] aleksa-krolls commented on #111
@ritazagoni @lakhassane here I wonder if we need to worry about time zones again because the SF system time will be different than the OpenFn time. To avoid having to think about this, we could set a relative date filter. For example, this SF query will fetch anything updated in the last day...
[code]
If we assume this runs at the same time daily, do you think that will work? Maybe we adjust the O

[2022-01-21 05:31] ritazagoni commented on #108
hey @lakhassane we seem to have the opposite issue in this run https://openfn.org/projects/miraclefeet/runs/061e952c-cd0d-7d68-9d28-045f73d75415, from logs `L149`:
[code]

In logs from `L214` we are canceling the `Casting` messages, but we should leave them unchanged.

Ping me for a chat if needed!

[2022-01-21 20:14] lakhassane commented on #111
@aleksa-krolls @ritazagoni Let's discuss this monday please. I can't really tell if `LAST_N_DAYS:1` is a thing (literally) or a placeholder to be replaced by something else.

Also yes completely agree that we should worry about timezone otherwise we lose any change that occurred in the time difference span.

[2022-01-21 20:34] lakhassane commented on #108
@ritazagoni the first one is solved.

For the second one there is this requirement from the data flow.

It says to delete `originalTreatment` if `treatment` is `'Casting'`. In this case originalTreatment being also 'Casting' it will get cancelled

<img width="256" alt="Screen Shot 2022-01-21 at 20 33 17" src="https://user-images.githubusercontent.com/8411231/150596372-ba863e49-b731-4842-b2b3-bf7e5

[2022-01-23 19:48] aleksa-krolls commented on #111
@lakhassane yes, `LAST_N_DAYS:1` is literally a filter you can add. I've left links below to SF docs, including how to convert SF timezones in case this is needed.

@ritazagoni can you please weigh in on the approach w.r.t. time zone and determine next steps with Mamadou, or whether changing the time of the cron trigger will be enough.

https://developer.salesforce.com/forums/?id=906F00000008mk6IA

[2022-01-23 21:07] aleksa-krolls commented on #109
@ritazagoni can we close this one? Looks like #111 has next steps

[2022-01-24 07:11] ritazagoni commented on #108
Thanks @lakhassane !
And great point. I've updated the data flow chart:

[2022-01-24 13:32] lakhassane commented on #108
Gotcha @ritazagoni.

I pushed that change

[2022-01-24 16:06] ritazagoni commented on #111
This worked great, thanks both!

[2022-01-24 16:06] #111 closed

[2022-01-25 08:10] aleksa-krolls opened #112 "Add Salesforce queries to find `inventoryId` to map to Partner_Brace_Inventory__c"
## Request
We need to find parent SF records that don't have direct relationships in the data model. Can you please help me to implement these 2 Salesforce queries to get the `inventoryId`
https://github.com/OpenFn/Miracle-Feet/blob/53f9997b6330dacef08001b8c99856dfdd48e836/upsert_brace_inventory.js#L1-L5

This can this be used as the source value for the draft `Partner_Brace_Inventory__c` mapping

[2022-01-25 10:13] lakhassane commented on #112
@aleksa-krolls fetching `inventoryId` successfully and mapping it. But there is a missing field you might need to check: `REQUIRED_FIELD_MISSING: Required fields are missing: [Patient__c]`

[2022-01-25 11:36] #112 closed

[2022-01-26 11:06] #109 closed, assigned to ritazagoni, lakhassane, aleksa-krolls

[2022-01-26 11:06] #108 closed

[2022-01-27 06:00] ritazagoni opened #114 "`schedule_sms` job fails with `400` error"
## Describe the bug
From Infobip API `Error: Request failed with status code 400`.
The error seem to be related to scheduling a message too far ahead: `  sendAt: '2022-08-11T09:00:56.257Z'` (see [run logs](https://www.openfn.org/projects/miraclefeet/runs/061f2332-680c-7c3c-9334-fca891d9d7eb) from `L236`).

We should only be scheduling [these bracing_night messages](https://docs.google.com/spreadsh

[2022-01-27 07:42] aleksa-krolls opened #115 "Consider the `schedule_smsV2.js` into 2 jobs"
## Background, context, and business value
Currently this job handles logic for both scheduling new alerts, as well as disabling alerts. As we scale, to minimize runtime and allow for 2 different Salesforce queries, let's consider:
1. Flow 1: Where we fetch Contacts where SMS should be disabled --> then disable alerts
2. Flow 2: Where we fetch Contacts where SMS should be scheduled --> then schedu

[2022-01-27 20:06] aleksa-krolls commented on #114
@lakhassane please prioritize this tomorrow

[2022-01-28 10:30] ritazagoni commented on #114
@lakhassane as discussed, please use [this mappig](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?pli=1#gid=262234774&range=49:55) for scheduling bracing_night messages in the schedule_sms.js job.

[2022-01-28 11:04] lakhassane commented on #114
@ritazagoni green check after updating the mapping object as discussed!
https://www.openfn.org/projects/miraclefeet/runs/061f3cd7-7620-7909-958d-6c4f2663583b

[2022-02-02 11:43] #114 closed

[2022-02-02 12:03] ritazagoni opened #117 "SMS dynamic fields stopped being populated"
## Describe the bug
We use `Contact.FirstName`, `Contact.Guardian_1_First_Name__c` and `Contact.AccountId` in [schedule_smsV2](https://github.com/OpenFn/Miracle-Feet/blob/master/schedule_smsV2.js) to fill in SMS field dynamically from these Salesforce fields.

`Contact.FirstName` and `Contact.Guardian_1_First_Name__c` have worked (see for example this [run](https://www.openfn.org/projects/miraclef

[2022-02-02 13:44] #117 closed

[2022-02-03 22:27] aleksa-krolls opened #119 "SMS Cancellation: TypeError [Error]: mapping[key] is not iterable"
## Describe the bug
Failing with type error `TypeError [Error]: mapping[key] is not iterable`
See run failure: https://www.openfn.org/projects/miraclefeet/runs/061fc545-21f5-7430-9992-f46c0b6aab38

## To Reproduce
1. Feel free to re-run on platform.

### expression.js
https://github.com/OpenFn/Miracle-Feet/blob/master/schedule_sms.js

### state.json
See LP `Infobip`
https://www.openfn.org/projects

[2022-02-04 10:41] lakhassane commented on #119
@aleksa-krolls the mapping object in the job has been updated wrongly causing this issue.
I'm trying to correct but also there is a lot of mapping tabs in the sheet [here](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?pli=1#gid=262234774) and it's easy to get lost.

Is it possible to separate the mapping sheets in different tabs with the right naming for

[2022-02-04 10:49] lakhassane commented on #119
The issue is solved for this one https://www.openfn.org/projects/miraclefeet/runs/061fd047-1f57-76ee-affb-133bdff00b89

[2022-02-04 11:01] aleksa-krolls commented on #119
@ritazagoni thoughts on what when wrong here, how we can better manage the mapping tables, and learnings for next time?

[2022-02-07 13:52] aleksa-krolls opened #120 "Add_New_Visit: RangeError [Error]: Invalid time value"
## Describe the bug
See run failure with error `RangeError [Error]: Invalid time value`. Can you tell me what date format does it not like? (We might either update the job, or ask the client to update the data.)
https://www.openfn.org/projects/miraclefeet/runs/06201215-1d4c-79bf-a788-ea5005ebdd78

### expression.js
https://github.com/OpenFn/Miracle-Feet/blob/master/add_new_visit__UPDATED.js

### s

[2022-02-07 13:55] aleksa-krolls opened #121 "Update_Patient: TypeError [Error]: Cannot read property 'case' of undefined"
## Describe the bug
This job was working for ages, but suddenly today I'm seeing lots of runs for this job fail with the error message `TypeError [Error]: Cannot read property 'case' of undefined`
https://www.openfn.org/projects/miraclefeet/runs/06201243-0890-7645-a6ce-3db2a9fb4cf7

## To Reproduce
Feel free to re-run on platform, and/or switch adaptor versions as needed.

### expression.js
https:

[2022-02-08 09:47] lakhassane commented on #121
@aleksa-krolls I see this snippet of code has been added to the job
[code]

However this path (`state.data.form.case.update.date_of_sms_registration`) does not exist in any of the messages used. Could you double check? I will comment that part for now.

[2022-02-08 09:56] lakhassane commented on #120
@aleksa-krolls there were an issue with some recent add (from yesterday) about the function `dateConverter`. It's fixed now: https://www.openfn.org/projects/miraclefeet/runs/062023dc-9b40-7680-9e8e-891e7df64687.

Instead of giving a path to a date, it was given `state` directly. So the data is fine in my opinion.

[2022-02-08 09:56] aleksa-krolls commented on #121
@ritazagoni what is this `date_of_sms_registration`. See Mamadou's comment and advise on the mapping here. Also, did you recently make changes to the MF jobs? Everything is failing right now

Also @lakhassane I'm seeing a ton of failures with the same message on `Update_Visit_V2`... is there a similar issue going on? https://www.openfn.org/projects/miraclefeet/runs/062023c4-f5d5-7c40-bec2-9a4f173c

[2022-02-08 10:38] aleksa-krolls commented on #121
Thanks @lakhassane. Feedback shared with the client

[2022-02-08 10:38] #121 closed

[2022-02-08 10:38] #120 closed

[2022-02-09 13:08] aleksa-krolls commented on #119
@ritazagoni see my comment above (but I think you've addressed). Can we close this out then? :)

[2022-02-11 10:48] ritazagoni opened #123 "Use `Date_of_SMS_Registration__c'"
## Background, context, and business value

Once MiracleFeet confirms that the `Date_of_SMS_Registration__c' field is added, update https://www.openfn.org/projects/miraclefeet/jobs/QjbQti

[2022-02-15 06:44] ritazagoni commented on #119
Mapping sheets and readme updated!

[2022-02-15 06:44] #119 closed

[2022-02-15 06:55] ritazagoni opened #125 "SMS: Process fetched contacts in batches"
## Background, context, and business value

In the SMS flow, we currently [fetch](https://github.com/OpenFn/Miracle-Feet/blob/master/fetchContacts.js) a number of contacts from Salesforce and pass `state` to the [SMS scheduling job](https://github.com/OpenFn/Miracle-Feet/blob/master/schedule_smsV2.js) to schedule SMSs.

See jobs on the platform:
1. https://www.openfn.org/projects/miraclefeet/jobs/

[2022-02-15 17:41] aleksa-krolls commented on #125
@ritazagoni wondering if this needs to be replicated for bracing_night?
cc @lakhassane

[2022-02-16 10:48] aleksa-krolls commented on #125
@lakhassane what was the approach you decided on here?
cc @ritazagoni

[2022-02-16 10:50] ritazagoni commented on #125
That's a good point @aleksa-krolls , yes, I'll create the issue

[2022-02-16 11:19] lakhassane commented on #125
@aleksa-krolls Im on it currently. For now I go with the batch solution. Then we will see if there is a way to delay at least one get request. So in that case even if we can have 59requests/min it will still be okae.

[2022-02-16 11:40] ritazagoni opened #126 "SMS: Process fetched contacts in batches for `bracing-night` flow"
## Background, context, and business value

See request for same functionality in SMS flow #125

Fetch job: https://github.com/OpenFn/Miracle-Feet/blob/master/1.fetchContact.js (see [here ](https://www.openfn.org/projects/miraclefeet/jobs/jv9qn9)on platform)
Scheduling job: https://github.com/OpenFn/Miracle-Feet/blob/master/2.scheduleContactSMS.js (see [here](https://www.openfn.org/projects/miracl

[2022-02-16 11:42] aleksa-krolls commented on #126
@ritazagoni confirming that this is the _exact same_ request as #125 , just replicated in this bracing_night job?

@lakhassane can you pls replicate those changes here as well?

[2022-02-16 11:46] ritazagoni commented on #126
@aleksa-krolls @lakhassane yes, it is the exact same request

[2022-02-16 16:42] aleksa-krolls opened #127 "Update_Patient: `RangeError [Error]: Invalid time value`"
## Describe the bug
Run is failing with the error `RangeError [Error]: Invalid time value`. I'm guess there is some unexpected data format in the CommCare source data.

## To Reproduce
1. Here is a link to a failed run on OpenFn.org wihch is indicative of the bug: https://www.openfn.org/projects/miraclefeet/runs/0620d20d-bd63-7f71-bc8e-ec2dc0bb8c10
Feel free to re-run on platform.

### adaptor
sal

[2022-02-16 16:43] aleksa-krolls commented on #127
@lakhassane can you work with @grayey on this one tomorrow? When doing so, please shared the appropriate configuration details with him via Slack DM.

[2022-02-17 11:34] lakhassane commented on #125
@aleksa-krolls I made the splitting into batches. For now this is how it is represented: https://openfn.org/projects/miraclefeet/messages/0620e329-383a-787c-b886-7a760e507430

[2022-02-17 13:51] grayey commented on #127
@aleksa-krolls We have solved the issue with the date. See run here: https://www.openfn.org/projects/miraclefeet/runs/0620e525-80ad-7c35-8edf-35c4e3ac187d

[2022-02-17 14:25] lakhassane commented on #126
@ritazagoni I made the replication.

Just flagging you need to add `openfnInboxUrl` to the credentials (for #125 as well)

[2022-02-17 15:24] aleksa-krolls commented on #127
thanks, @grayey looking good!

[2022-02-17 15:33] aleksa-krolls opened #128 "Do not upload Salesforce data if state contains test CommCare username"
## Background, context, and business value
See issue #25 for background.
We have a new job that has multiple operations/steps... so we can't simply replicate what was implemented for issue #25, where the jobs only have 1 operation.

## The specific request, in as few words as possible
For this new `upsert_brace_inventory.js`  job, we want to run NO steps, if
`state.data.form.calcs.case_properties.

[2022-02-18 06:31] ritazagoni commented on #125
hey @lakhassane I tried to run the scheduling job on the message and got this error: https://openfn.org/projects/miraclefeet/runs/0620f3cf-e05a-7539-a0f5-ff6fd2c5bdf5

[2022-02-18 06:37] aleksa-krolls commented on #125
@lakhassane was this even tested locally?

@ritazagoni I think I fixed with this commit: https://github.com/OpenFn/Miracle-Feet/commit/cd3b83e93ea18053e4e9ce69b03e36a8300ed074

See successful run: https://openfn.org/projects/miraclefeet/runs/0620f3e4-4f48-75c6-bbd5-5fae6c01d279

[2022-02-18 07:44] #126 closed

[2022-02-18 07:44] #125 closed

[2022-02-18 16:11] grayey commented on #128
@aleksa-krolls , this has been done.

[2022-02-21 07:23] aleksa-krolls commented on #128
thanks, @grayey. closing this

[2022-02-21 07:23] #128 closed

[2022-02-27 14:07] aleksa-krolls commented on #127
@grayey I'm seeing this same time error surface again on more recent data processed. Can you please take a look at this run failure? Keep me posted on what you find, thanks!
https://www.openfn.org/projects/miraclefeet/runs/06218895-274b-7385-90aa-81eae0959080

cc @lakhassane

[2022-03-04 08:10] #127 closed

[2022-03-16 14:48] ritazagoni opened #134 "Skip scheduling `visitAfter` reminder if `sendAt` date is more than 6 months ahead"
## Background, context, and business value

We schedule [visitAfter](https://docs.google.com/spreadsheets/d/1quhQJgQkVRC8oObDzkwgnnm-Rov5BGOW85I4YqcNV0I/edit?pli=1#gid=379768061&range=116:117) reminder SMS-s to be sent 5 days after a contact's `nextVisitDate`. Sometimes these dates are far ahead in the future. However the Infobip API doesn't let us schedule SMSs more than 6 months ahead.

## The s

[2022-03-23 09:58] aleksa-krolls commented on #134
@taylordowns2000 @grayey thanks for the work here! Can I request that when you move something to `Review` that you leave a quick comment?

This way @ritazagoni is notified to check things out and doesn't have to check the backlog every day and every hour to see :)

[2022-03-23 10:34] taylordowns2000 commented on #134
Yes @aleksa-krolls , good call! @ritazagoni and I actually discussed the handover on Slack yesterday and she moved onto testing, but because I didn't write anything on the Github issue here you didn't have that visibility... apologies there. We can make sure there's always a note (at least referencing an ongoing Slack thread) when shifting to Review.

@grayey , please note this well!

[2022-03-28 07:36] aleksa-krolls commented on #134
@ritazagoni friendly reminder to close this issue once changes are tested.

[2022-04-03 23:06] aleksa-krolls commented on #115
hey @ritazagoni did we solve for this already? Can we close this?

[2022-04-04 16:49] #134 closed

[2022-08-08 07:55] aleksa-krolls commented on #115
@ritazagoni can we close this issue?

[2022-08-08 07:55] aleksa-krolls commented on #123
@ritazagoni can we also close this one?

[2022-09-09 09:54] ritazagoni commented on #115
Splitting the job into 2 was an idea we floated when some of the runs were long but never explored it further and we don't seem to have had issues since (long runs are now enabled for this job). Runs may be 4min+ currently, we would probably still need long jobs even with the new structure. We don't foresee any other/functional benefits. Rita and Aleksa to revisit after checking in with Miraclefee

[2022-09-09 09:56] #115 closed